openapi: 3.1.0
info:
  title: Moscow RolePlay API - CivOps Economy v2
  description: |
    Эндпоинты для управления экономикой и CivOps системой Moscow RolePlay.

    ## Что такое CivOps Economy API?

    CivOps Economy API предоставляет доступ к экономической системе сервера,
    включая управление пользователями, бизнесами, мафиями, правительством,
    магазином, рекламой и системными настройками.

    ## Rate Limits (Ограничения запросов)

    | Эндпоинт | Лимит |
    |----------|-------|
    | Все GET эндпоинты | 60 запросов/мин |
    | Все POST эндпоинты | 30 запросов/мин |

    При превышении лимита возвращается **HTTP 429**.

    ## Формат Ответа Об Ошибке

    Все ошибки возвращаются в формате JSON с полями `code` и `message`:

    ```json
    {
        "code": 5007,
        "message": "missing_token"
    }
    ```

    ## Коды Ошибок

    ### Ошибки Аутентификации и Доступа

    | Код | Статус | Описание |
    |-----|--------|----------|
    | 5006 | 401 | invalid_master_key |
    | 5007 | 401 | missing_token |
    | 5008 | 401 | invalid_token |
    | 5009 | 403 | forbidden |
    | 5010 | 403 | api_version_forbidden |
    | 5011 | 403 | query_param_forbidden |

    ### Ошибки Economy API

    | Код | Статус | Описание |
    |-----|--------|----------|
    | 5016 | 429 | rate_limit_exceeded |
    | 5017 | 500 | internal_error |
    | 5018 | 500 | server_error |

    Базовый URL: `https://api.erlcrussia.xyz/v2`
  version: 2.0.0
servers:
  - url: https://api.erlcrussia.xyz/v2
    description: Production
tags:
  - name: CivOps Economy v2
    description: Эндпоинты для управления экономикой и CivOps системой.
paths:
  /moscowroleplay/civops/economy:
    get:
      tags:
        - CivOps Economy v2
      summary: Получение Данных Экономики
      description: |
        Получение информации о экономики на сервере.

        Доступные действия:
        - `balance` - баланс пользователя (требует userId).
        - `leaderboard` - топ пользователей по балансу (требует limit).
        - `rank` - место в топе пользователя (требует userId).
        - `cooldowns` - кулдауны команд пользователя (требует userId).
      security:
        - MRPAPIKey: []
      parameters:
        - name: action
          in: query
          description: Тип действия для получения данных.
          required: true
          schema:
            type: string
            enum: [balance, leaderboard, rank, cooldowns]
        - name: userId
          in: query
          description: ID пользователя (обязателен для balance, rank, cooldowns).
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Лимит записей для leaderboard.
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Успешный ответ с данными экономики.
          content:
            application/json:
              schema:
                type: object
              examples:
                balance:
                  summary: Баланс пользователя.
                  value:
                    userId: "1133665013794607114"
                    cash: 500
                    bank: 100000000000
                    rank: 1
                leaderboard:
                  summary: Топ пользователей по балансу.
                  value:
                    count: 10
                    users:
                      - user_id: "1133665013794607114"
                        cash: 500
                        bank: 100000000000
                      - user_id: "924918625129865256"
                        cash: 10
                        bank: 100000000000
                rank:
                  summary: Место пользователя в топе.
                  value:
                    userId: "1133665013794607114"
                    rank: 1
                cooldowns:
                  summary: Кулдауны пользователя.
                  value:
                    userId: "1133665013794607114"
                    cooldowns:
                      - command: "работать"
                        last_used: 1776625200
                        expires_at: 1776627000
        '400':
          description: Ошибка запроса (отсутствует userId для требуемых action или неизвестный action).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedMissingOrInvalidToken'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - CivOps Economy v2
      summary: Операции с Экономикой
      description: |
        Выполнение операций с системой экономики (транзакции, переводы и т.д.).

        Доступные действия:
        - `transfer` - перевод между пользователями (требует fromUserId, toUserId, amount).
        - `deposit` - положить деньги в банк (требует userId, amount).
        - `withdraw` - снять деньги из банка (требует userId, amount).
        - `add` - добавить деньги пользователю (требует userId, amount, type).
        - `remove` - забрать деньги у пользователя (требует userId, amount, type).
        - `reset` - сбросить баланс пользователя (требует userId).
        - `resetCooldown` - сбросить кулдауны пользователя (требует userId, command).

        Параметр type для add/remove может быть 'cash' или 'bank' (по умолчанию 'cash').
      security:
        - MRPAPIKey: []
      parameters:
        - name: action
          in: query
          description: Тип операции.
          required: true
          schema:
            type: string
            enum: [transfer, deposit, withdraw, add, remove, reset, resetCooldown]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              transfer:
                summary: Перевод между пользователями.
                value:
                  fromUserId: "1027118272879009886"
                  toUserId: "1133665013794607114"
                  amount: 100000
              deposit:
                summary: Положить деньги в банк.
                value:
                  userId: "1133665013794607114"
                  amount: 50000
              withdraw:
                summary: Вывести деньги из банка.
                value:
                  userId: "1133665013794607114"
                  amount: 20000
              add:
                summary: Добавить деньги.
                value:
                  userId: "1133665013794607114"
                  amount: 5000
                  type: cash
              remove:
                summary: Забрать деньги.
                value:
                  userId: "1133665013794607114"
                  amount: 2000
                  type: bank
              reset:
                summary: Сбросить баланс.
                value:
                  userId: "1133665013794607114"
              resetCooldown:
                summary: Сбросить кулдаун на команду.
                value:
                  userId: "1133665013794607114"
                  command: работать
      responses:
        '200':
          description: Операция успешно выполнена.
          content:
            application/json:
              schema:
                type: object
              examples:
                transfer:
                  summary: Успешный перевод.
                  value:
                    success: true
                    fromUserId: "1027118272879009886"
                    toUserId: "1133665013794607114"
                    amount: 100000
                    newBalance:
                      cash: 104000
                      bank: 10000
                deposit:
                  summary: Успешный депозит.
                  value:
                    success: true
                    userId: "1133665013794607114"
                    deposited: 50000
                    newBank: 150000
                    newCash: 3000
                withdraw:
                  summary: Успешное снятие.
                  value:
                    success: true
                    userId: "1133665013794607114"
                    withdrawn: 50000
                    newBank: 53000
                    newCash: 100000
                add:
                  summary: Деньги добавлены.
                  value:
                    success: true
                    userId: "1133665013794607114"
                    type: cash
                    amount: 5000
                    newBalance:
                      cash: 10000
                      bank: 10000
                remove:
                  summary: Деньги удалены.
                  value:
                    success: true
                    userId: "1133665013794607114"
                    type: bank
                    amount: 2000
                    newBalance:
                      cash: 5000
                      bank: 8000
                reset:
                  summary: Баланс сброшен.
                  value:
                    success: true
                    userId: "1133665013794607114"
                    newBalance:
                      cash: 0
                      bank: 0
                resetCooldown:
                  summary: Кулдаун сброшен.
                  value:
                    success: true
                    userId: "1133665013794607114"
                    command: работать
        '400':
          description: Ошибка запроса (отсутствуют обязательные поля или неизвестный action).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedMissingOrInvalidToken'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /moscowroleplay/civops/users:
    get:
      tags:
        - CivOps Economy v2
      summary: Получение данных пользователей
      description: |
        Получение инвентаря и истории транзакций пользователя.

        Доступные действия:
        - `inventory` - инвентарь пользователя (требует userId).
        - `transactions` - история транзакций (требует userId, page, limit).

      security:
        - MRPAPIKey: []
      parameters:
        - name: action
          in: query
          description: Тип действия для получения данных.
          required: true
          schema:
            type: string
            enum: [inventory, transactions]
        - name: userId
          in: query
          description: ID пользователя (обязателен).
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Лимит записей для transactions.
          required: false
          schema:
            type: integer
            default: 15
        - name: page
          in: query
          description: Номер страницы для transactions.
          required: false
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Успешный ответ с данными пользователей.
          content:
            application/json:
              schema:
                type: object
              examples:
                inventory:
                  summary: Инвентарь пользователя.
                  value:
                    userId: "1133665013794607114"
                    inventory:
                      - name: "Элитный Класс"
                        amount: 1
                        description: "Получите роль \"Элитный Класс\", чтобы продемонстрировать свое богатство."
                      - name: "Петух"
                        amount: 5
                        description: "Надежный петух, с помощью которого вы можете выиграть (или проиграть) петушиный бой."
                transactions:
                  summary: История покупок у бизнесов.
                  value:
                    userId: "1133665013794607114"
                    page: 1
                    total: 150
                    transactions:
                      - id: 302
                        user_id: "1133665013794607114"
                        business_id: "2TAH37"
                        business_name: "Вкусно и точка"
                        item_name: "Напиток на выбор"
                        item_description: "Напиток на выбор из нескольких позиций: Спрайт, Добрый Кола, Фанта, Вишневая Кола, Липтон Зеленый, Липтон Чёрный"
                        price: 55
                        ts: 1762088809
        '400':
          description: Ошибка запроса (отсутствует userId или неизвестный action).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing_userid:
                  summary: Отсутствует userId.
                  value:
                    error: "userId required"
        '401':
          $ref: '#/components/responses/UnauthorizedMissingOrInvalidToken'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - CivOps Economy v2
      summary: Операции с инвентарём пользователя
      description: |
        Управление инвентарём пользователя.

        Доступные действия:
        - `addItem` - добавить предмет в инвентарь (требует userId, item).
        - `removeItem` - удалить предмет из инвентаря (требует userId, itemName, amount).
        - `clearInventory` - очистить весь инвентарь (требует userId).
      security:
        - MRPAPIKey: []
      parameters:
        - name: action
          in: query
          description: Тип операции.
          required: true
          schema:
            type: string
            enum: [addItem, removeItem, clearInventory]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              addItem:
                summary: Добавить предмет.
                value:
                  userId: "1133665013794607114"
                  item:
                    name: "Петух"
                    amount: 1
                    description: "Надежный петух, с помощью которого вы можете выиграть (или проиграть) петушиный бой."
              removeItem:
                summary: Удалить предмет.
                value:
                  userId: "1133665013794607114"
                  itemName: "Элитный Класс"
                  amount: 1
              clearInventory:
                summary: Очистить инвентарь
                value:
                  userId: "1133665013794607114"
      responses:
        '200':
          description: Операция успешно выполнена.
          content:
            application/json:
              schema:
                type: object
              examples:
                addItem:
                  summary: Предмет добавлен.
                  value:
                    success: true
                    userId: "1133665013794607114"
                    item: "Петух"
                    amount: 1
                removeItem:
                  summary: Предмет удалён.
                  value:
                    success: true
                    userId: "1133665013794607114"
                    item: "Элитный Класс"
                    amount: 1
                clearInventory:
                  summary: Инвентарь очищен.
                  value:
                    success: true
                    userId: "1133665013794607114"
                    action: "inventory_cleared"
        '400':
          description: Ошибка запроса (отсутствуют обязательные поля или неизвестный action).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedMissingOrInvalidToken'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /moscowroleplay/civops/businesses:
    get:
      tags:
        - CivOps Economy v2
      summary: Получение данных бизнесов
      description: |
        Получение информации о бизнесах на сервере.

        Доступные действия:
        - `list` - список всех бизнесов (требует page, limit).
        - `info` - информация о бизнесе (требует businessId или businessName).
        - `balance` - баланс бизнеса (требует businessId).
        - `employees` - сотрудники бизнеса (требует businessId, page, limit).
        - `store` - товары бизнеса (требует businessName).
        - `transfers` - переводы бизнеса (требует businessId, page, limit).
        - `rating` - топ бизнесов по балансу (требует limit).
        - `pending` - ожидающие заявки на создание бизнеса.

      security:
        - MRPAPIKey: []
      parameters:
        - name: action
          in: query
          description: Тип действия для получения данных.
          required: true
          schema:
            type: string
            enum: [list, info, balance, employees, store, transfers, rating, pending]
        - name: businessId
          in: query
          description: ID бизнеса (для info, balance, employees, transfers).
          required: false
          schema:
            type: string
        - name: businessName
          in: query
          description: Название бизнеса.
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Лимит записей.
          required: false
          schema:
            type: integer
            default: 10
        - name: page
          in: query
          description: Номер страницы.
          required: false
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Успешный ответ с данными бизнесов.
          content:
            application/json:
              schema:
                type: object
              examples:
                list:
                  summary: Список бизнесов.
                  value:
                    page: 1
                    total: 50
                    businesses:
                      - id: "UCEW29"
                        user_id: "760966468715937814"
                        username: "ttunku_pal"
                        name: "Roma Aeterna"
                        form: "ООО"
                        status: "active"
                        created_at: 1761587615
                        approved_by: "1133665013794607114"
                        owner_id: "760966468715937814"
                        owner_name: "ttunku_pal"
                        channel_id: "1432651696210841760"
                        channel_name: "🇮🇹┃roma-aeterna"
                        role_id: "1432651691987304522"
                        role_name: "Roma Aeterna"
                        employee_role_id: "1432651694289846302"
                        employee_role_name: "Сотрудник Бизнеса Roma Aeterna"
                        description: "В «Roma Aeterna» мы верим, что лучшие беседы рождаются за вкусной едой. Наше кафе создано для того, чтобы вы чувствовали себя как в гостях у друзей в солнечной Италии."
                        info_msg_id: "1432651699952156712"
                        address: "2221 Southern Avenue"
                        bank: 350
                info:
                  summary: Информация о бизнесе.
                  value:
                    business:
                      id: "UCEW29"
                      user_id: "760966468715937814"
                      username: "ttunku_pal"
                      name: "Roma Aeterna"
                      form: "ООО"
                      status: "active"
                      created_at: 1761587615
                      approved_by: "1133665013794607114"
                      owner_id: "760966468715937814"
                      owner_name: "ttunku_pal"
                      channel_id: "1432651696210841760"
                      channel_name: "🇮🇹┃roma-aeterna"
                      role_id: "1432651691987304522"
                      role_name: "Roma Aeterna"
                      employee_role_id: "1432651694289846302"
                      employee_role_name: "Сотрудник Бизнеса Roma Aeterna"
                      description: "В «Roma Aeterna» мы верим, что лучшие беседы рождаются за вкусной едой."
                      info_msg_id: "1432651699952156712"
                      address: "2221 Southern Avenue"
                      bank: 350
                balance:
                  summary: Баланс бизнеса.
                  value:
                    businessId: "UCEW29"
                    balance:
                      bank: 350
                employees:
                  summary: Сотрудники бизнеса.
                  value:
                    businessId: "UCEW29"
                    employees:
                      - id: 61
                        business_id: "UCEW29"
                        user_id: "1335499851273601029"
                        username: "ytkaytkovich_16555"
                        position: "Сотрудник"
                        joined_at: 1761661225
                      - id: 65
                        business_id: "UCEW29"
                        user_id: "813472799280726017"
                        username: "._ethea1th"
                        position: "Менеджер"
                        joined_at: 1763834359
                      - id: 66
                        business_id: "UCEW29"
                        user_id: "1195675629010558986"
                        username: "m1xsimus_"
                        position: "Менеджер"
                        joined_at: 1763834389
                    totalCount: 3
                store:
                  summary: Товары бизнеса.
                  value:
                    businessName: "Roma Aeterna"
                    items:
                      - business_name: "Roma Aeterna"
                        name: "☕ 1. Noctis Amor"
                        description: "(«Любовь ночи») Густой эспрессо с ванильной пенкой и каплей карамели."
                        price_buy: 250
                        quantity: 1000
                        createdAt: 1761779241065
                      - business_name: "Roma Aeterna"
                        name: "🌟 Pièce de Résistance: Aurum Caeli et Roma Aeterna"
                        description: "Филе осетра, обжаренное на сливочном масле с трюфельной ноткой..."
                        price_buy: 5500
                        quantity: 98
                        createdAt: 1761783355402
                transfers:
                  summary: Переводы бизнеса.
                  value:
                    businessId: "UCEW29"
                    rows:
                      - id: "V0CWNF2J"
                        from_business_id: "UCEW29"
                        to_business_id: "RAWDB4"
                        amount: 10000
                        reason: ""
                        created_at: 1776628017744
                        author_id: "760966468715937814"
                    total: 1
                rating:
                  summary: Топ бизнесов по балансу.
                  value:
                    count: 0
                    businesses: []
                pending:
                  summary: Ожидающие заявки на создание бизнеса.
                  value:
                    total: 2
                    requests:
                      - requestId: "req_abc123"
                        userId: "1133665013794607114"
                        username: "IvanPetrov"
                        name: "Tech Solutions"
                        form: "ООО"
                        channelId: "1417184142227144877"
                        status: "pending"
                        created_at: 1776628017744
        '400':
          description: Ошибка запроса (отсутствует обязательный параметр или неизвестный action).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedMissingOrInvalidToken'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - CivOps Economy v2
      summary: Операции с бизнесами
      description: |
        Управление бизнесами, сотрудниками, товарами и финансами.

        Доступные действия:
        - `request` - создать заявку на бизнес (userId, username, name, form, channelId).
        - `approve` - одобрить заявку (requestId, approverId, +поля бизнеса).
        - `cancelRequest` - отменить/удалить пендинг заявку (requestId).
        - `create` - прямое создание бизнеса (businessData).
        - `delete` - удалить бизнес (businessId).
        - `addMoney` - добавить деньги в бизнес (businessId, amount).
        - `removeMoney` - забрать деньги из бизнеса (businessId, amount).
        - `withdraw` - вывести деньги бизнеса пользователю (businessId, amount, targetUserId).
        - `transfer` - перевод между бизнесами (fromBusinessId, toBusinessId, amount, reason, authorId).
        - `addEmployee` - добавить сотрудника (businessId, userId, username, position).
        - `removeEmployee` - уволить сотрудника (businessId, userId).
        - `addProduct` - добавить товар (businessName, item).
        - `removeProduct` - удалить товар (businessName, itemName).
        - `buyProduct` - купить товар у бизнеса (userId, businessName, itemName, quantity).
        - `returnMoney` - вернуть деньги по транзакции (businessId, transactionId).
      security:
        - MRPAPIKey: []
      parameters:
        - name: action
          in: query
          description: Тип операции.
          required: true
          schema:
            type: string
            enum: [request, approve, cancelRequest, create, delete, addMoney, removeMoney, withdraw, transfer, addEmployee, removeEmployee, addProduct, removeProduct, buyProduct, returnMoney]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              request:
                summary: Создать заявку на бизнес (этап 1)
                value:
                  userId: "760966468715937814"
                  username: "ttunku_pal"
                  name: "Roma Aeterna"
                  form: "ООО"
                  channelId: "1432651696210841760"
              cancelRequest:
                summary: Отменить pending заявку на бизнес (удалить из ожидания)
                value:
                  requestId: "req_abc123"
              approve:
                summary: Подтвердить заявку и создать бизнес (этап 2)
                value:
                  requestId: "req_abc123"
                  approverId: "1133665013794607114"
                  guildId: "1133665013794607114"
                  ownerId: "760966468715937814"
                  ownerName: "ttunku_pal"
                  channelId: "1432651696210841760"
                  channelName: "roma-aeterna"
                  roleId: "1432651691987304522"
                  roleName: "Roma Aeterna"
                  employeeRoleId: "1432651694289846302"
                  employeeRoleName: "Сотрудник Бизнеса Roma Aeterna"
                  description: "В «Roma Aeterna» мы верим, что лучшие беседы рождаются за вкусной едой."
                  address: "2221 Southern Avenue"
                  createChannel: true
                  createRoles: true
              delete:
                summary: Удалить бизнес со всеми Discord объектами
                value:
                  businessId: "UCEW29"
                  guildId: "1133665013794607114"
              create:
                summary: Прямое создание бизнеса
                value:
                  businessData:
                    name: "Roma Aeterna"
                    owner_id: "760966468715937814"
                    form: "ООО"
              addMoney:
                summary: Добавить деньги в бизнес
                value:
                  businessId: "UCEW29"
                  amount: 5000
              removeMoney:
                summary: Снять деньги с бизнеса
                value:
                  businessId: "UCEW29"
                  amount: 5000
              withdraw:
                summary: Вывести деньги с бизнеса на счет пользователя
                value:
                  businessId: "UCEW29"
                  amount: 1000
                  targetUserId: "1133665013794607114"
              transfer:
                summary: Перевод между бизнесами
                value:
                  fromBusinessId: "UCEW29"
                  toBusinessId: "RAWDB4"
                  amount: 5000
                  reason: "Оплата услуг"
                  authorId: "1133665013794607114"
              addEmployee:
                summary: Добавить сотрудника в бизнес
                value:
                  businessId: "UCEW29"
                  userId: "1335499851273601029"
                  username: "ytkaytkovich_16555"
                  position: "Сотрудник"
                  guildId: "1133665013794607114"
              removeEmployee:
                summary: Удалить сотрудника из бизнеса
                value:
                  businessId: "UCEW29"
                  userId: "1335499851273601029"
                  guildId: "1133665013794607114"
              addProduct:
                summary: Добавить товар в магазин бизнеса
                value:
                  businessName: "Roma Aeterna"
                  item:
                    name: "☕ 1. Noctis Amor"
                    price_buy: 250
                    description: "(«Любовь ночи») Густой эспрессо с ванильной пенкой и каплей карамели."
                    quantity: 100
              removeProduct:
                summary: Удалить товар из магазина бизнеса
                value:
                  businessName: "Roma Aeterna"
                  itemName: "☕ 1. Noctis Amor"
              buyProduct:
                summary: Купить товар у бизнеса
                value:
                  userId: "1133665013794607114"
                  businessName: "Roma Aeterna"
                  itemName: "☕ 1. Noctis Amor"
                  quantity: 1
              returnMoney:
                summary: Вернуть деньги по транзакции (возврат товара)
                value:
                  businessId: "UCEW29"
                  transactionId: "txn_20241201_xyz789"
      responses:
        '200':
          description: Операция успешно выполнена.
          content:
            application/json:
              schema:
                type: object
              examples:
                request:
                  summary: Заявка создана.
                  value:
                    success: true
                    requestId: "req_123"
                    status: "pending"
                    message: "Request created, awaiting approval"
                approve:
                  summary: Бизнес одобрен и создан.
                  value:
                    success: true
                    businessId: "UCEW29"
                    name: "Roma Aeterna"
                    status: "active"
                    owner_id: "760966468715937814"
                    owner_name: "ttunku_pal"
                cancelRequest:
                  summary: Заявка отменена.
                  value:
                    success: true
                    requestId: "req_abc123"
                    action: "cancelled"
                    removedFromMemory: true
                    removedFromDB: false
                    message: "Pending request has been cancelled and removed"
                buyProduct:
                  summary: Товар куплен.
                  value:
                    success: true
                    userId: "1133665013794607114"
                    businessName: "Roma Aeterna"
                    item: "☕ 1. Noctis Amor"
                    quantity: 1
                    totalPrice: 250
        '400':
          description: Ошибка запроса (отсутствуют обязательные поля или неизвестный action).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedMissingOrInvalidToken'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /moscowroleplay/civops/mafias:
    get:
      tags:
        - CivOps Economy v2
      summary: Получение данных мафий
      description: |
        Получение информации о мафиозных группировках на сервере.

        Доступные действия:
        - `list` - список всех мафий (page, limit)
        - `info` - информация о мафии (mafiaId или mafiaName)
        - `balance` - баланс мафии (mafiaId)
        - `members` - члены мафии (mafiaId, page, limit)
        - `transfers` - переводы мафии (mafiaId, page, limit)
        - `logs` - логи мафии (mafiaId, limit)

      security:
        - MRPAPIKey: []
      parameters:
        - name: action
          in: query
          description: Тип действия для получения данных.
          required: true
          schema:
            type: string
            enum: [list, info, balance, members, transfers, logs]
        - name: mafiaId
          in: query
          description: ID мафии (для info, balance, members, transfers, logs).
          required: false
          schema:
            type: string
        - name: mafiaName
          in: query
          description: Название мафии (для info).
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Лимит записей (по умолчанию 10).
          required: false
          schema:
            type: integer
            default: 10
        - name: page
          in: query
          description: Номер страницы (по умолчанию 1).
          required: false
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Успешный ответ с данными мафий.
          content:
            application/json:
              schema:
                type: object
              examples:
                list:
                  summary: Список мафий.
                  value:
                    page: 1
                    total: 1
                    mafias:
                      - id: "2KH2WQEO"
                        name: "UKpanik"
                        leader_id: "1104388035199639585"
                        leader_name: "forziknerves"
                        role_id: "1473315569175625811"
                        role_name: "Состоит в ОПГ \"UKpanik\""
                        leader_role_id: "1473315758783201354"
                        leader_role_name: "Лидер ОПГ \"UKpanik\""
                        channel_id: "1473316097032716381"
                        channel_name: "💬┃ukpanik"
                        color: "#060568"
                        created_at: 1776881763
                        bank: 0
                info:
                  summary: Информация о мафии.
                  value:
                    mafia:
                      id: "2KH2WQEO"
                      name: "UKpanik"
                      leader_id: "1104388035199639585"
                      leader_name: "forziknerves"
                      role_id: "1473315569175625811"
                      role_name: "Состоит в ОПГ \"UKpanik\""
                      leader_role_id: "1473315758783201354"
                      leader_role_name: "Лидер ОПГ \"UKpanik\""
                      channel_id: "1473316097032716381"
                      channel_name: "💬┃ukpanik"
                      color: "#060568"
                      created_at: 1776881763
                      bank: 0
                    members:
                      - user_id: "1104388035199639585"
                        username: "forziknerves"
                        position: "Лидер"
                        joined_at: 1776881763
                    memberCount: 1
                balance:
                  summary: Баланс мафии.
                  value:
                    mafiaId: "2KH2WQEO"
                    balance:
                      bank: 0
                members:
                  summary: Члены мафии.
                  value:
                    mafiaId: "2KH2WQEO"
                    members:
                      - user_id: "1104388035199639585"
                        username: "forziknerves"
                        position: "Лидер"
                        joined_at: 1776881763
                    totalCount: 1
                transfers:
                  summary: Переводы мафии.
                  value:
                    mafiaId: "2KH2WQEO"
                    rows: []
                    total: 0
                logs:
                  summary: Логи мафии.
                  value:
                    mafiaId: "2KH2WQEO"
                    logs:
                      - id: 5
                        mafia_id: "2KH2WQEO"
                        action: "create"
                        value: "Создана ОПГ UKpanik лидером 1170030084300742680"
                        created_at: 1776881763
        '400':
          description: Ошибка запроса (отсутствует обязательный параметр или неизвестный action).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedMissingOrInvalidToken'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - CivOps Economy v2
      summary: Операции с мафиями
      description: |
        Управление мафиями, членами и финансами.

        Доступные действия:
        - `create` - создать мафию (name, leaderId, leaderName, roleId, roleName, color)
        - `delete` - удалить мафию (mafiaId)
        - `addMoney` - добавить деньги в мафию (mafiaId, amount)
        - `removeMoney` - забрать деньги из мафии (mafiaId, amount)
        - `withdraw` - вывести деньги мафии пользователю (mafiaId, amount, targetUserId)
        - `transfer` - перевод между мафиями (fromMafiaId, toMafiaId, amount, reason, authorId)
        - `addMember` - добавить члена (mafiaId, userId, username, position)
        - `removeMember` - удалить члена (mafiaId, userId)
      security:
        - MRPAPIKey: []
      parameters:
        - name: action
          in: query
          description: Тип операции.
          required: true
          schema:
            type: string
            enum: [create, delete, addMoney, removeMoney, withdraw, transfer, addMember, removeMember]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              create:
                summary: Создать мафию
                value:
                  name: "UKpanik"
                  leaderId: "1104388035199639585"
                  leaderName: "forziknerves"
                  roleId: "1473315569175625811"
                  roleName: "Состоит в ОПГ \"UKpanik\""
                  color: "#060568"
              delete:
                summary: Удалить мафию
                value:
                  mafiaId: "2KH2WQEO"
              addMoney:
                summary: Добавить деньги в мафию
                value:
                  mafiaId: "2KH2WQEO"
                  amount: 10000
              removeMoney:
                summary: Снять деньги с мафии
                value:
                  mafiaId: "2KH2WQEO"
                  amount: 5000
              withdraw:
                summary: Вывести деньги с мафии на счет пользователя
                value:
                  mafiaId: "2KH2WQEO"
                  amount: 3000
                  targetUserId: "1170030084300742680"
              transfer:
                summary: Перевод между мафиями
                value:
                  fromMafiaId: "2KH2WQEO"
                  toMafiaId: "OTHER123ID"
                  amount: 5000
                  reason: "Взятка за покровительство"
                  authorId: "1104388035199639585"
              addMember:
                summary: Добавить участника в мафию
                value:
                  mafiaId: "2KH2WQEO"
                  userId: "1170030084300742680"
                  username: "NewMember"
                  position: "Участник"
              removeMember:
                summary: Удалить участника из мафии
                value:
                  mafiaId: "2KH2WQEO"
                  userId: "1170030084300742680"
      responses:
        '200':
          description: Операция успешно выполнена.
          content:
            application/json:
              schema:
                type: object
              examples:
                create:
                  summary: Мафия создана.
                  value:
                    success: true
                    mafiaId: "2KH2WQEO"
                    name: "UKpanik"
                    leader_id: "1104388035199639585"
                    leader_name: "forziknerves"
                    role_id: "1473315569175625811"
                    role_name: "Состоит в ОПГ \"UKpanik\""
                    leader_role_id: "1473315758783201354"
                    leader_role_name: "Лидер ОПГ \"UKpanik\""
                    channel_id: "1473316097032716381"
                    channel_name: "💬┃ukpanik"
                    color: "#060568"
                    created_at: 1776881763
                    bank: 0
                addMember:
                  summary: Участник добавлен.
                  value:
                    success: true
                    mafiaId: "2KH2WQEO"
                    userId: "1170030084300742680"
                    username: "NewMember"
                    position: "Участник"
                transfer:
                  summary: Перевод выполнен.
                  value:
                    success: true
                    transferId: "V0CWNF2J"
                    fromMafiaId: "2KH2WQEO"
                    toMafiaId: "OTHER123ID"
                    amount: 5000
                    reason: "Взятка за покровительство"
        '400':
          description: Ошибка запроса (отсутствуют обязательные поля или неизвестный action).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedMissingOrInvalidToken'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /moscowroleplay/civops/government:
    get:
      tags:
        - CivOps Economy v2
      summary: Получение данных правительства
      description: |
        Получение информации о правительственных финансах и переводах.

        Доступные действия:
        - `balance` - баланс правительства
        - `transfers` - список переводов правительства (требует page, limit).

      security:
        - MRPAPIKey: []
      parameters:
        - name: action
          in: query
          description: Тип действия для получения данных.
          required: true
          schema:
            type: string
            enum: [balance, transfers]
        - name: page
          in: query
          description: Номер страницы для transfers (по умолчанию 1).
          required: false
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: Лимит записей для transfers (по умолчанию 25).
          required: false
          schema:
            type: integer
            default: 25
      responses:
        '200':
          description: Успешный ответ с данными правительства.
          content:
            application/json:
              schema:
                type: object
              examples:
                balance:
                  summary: Баланс правительства.
                  value:
                    balance:
                      bank: 99990000001
                transfers:
                  summary: Переводы правительства.
                  value:
                    rows:
                      - id: "SUIGV5OF"
                        to_type: "opg"
                        to_id: "WKQYFHZI"
                        amount: 10000000
                        reason: "Перевод"
                        created_at: 1762001561094
                        author_id: "1133665013794607114"
                      - id: "EGRJQIJH"
                        to_type: "business"
                        to_id: "QONWJE"
                        amount: 1000000
                        reason: "На ремонт дорог."
                        created_at: 1761666889623
                        author_id: "1133665013794607114"
                      - id: "2XI4F7T5"
                        to_type: "business"
                        to_id: "QONWJE"
                        amount: 1000000
                        reason: "На ремонт дорог."
                        created_at: 1761666445708
                        author_id: "1133665013794607114"
                      - id: "QEM2QFR7"
                        to_type: "business"
                        to_id: "VWIV4H"
                        amount: 10000
                        reason: "Так надо"
                        created_at: 1760990772813
                        author_id: "1133665013794607114"
                      - id: "5RW0QT8T"
                        to_type: "user"
                        to_id: "843529697853046804"
                        amount: 10000
                        reason: ""
                        created_at: 1760990605583
                        author_id: "1133665013794607114"
                      - id: "WUOAKURW"
                        to_type: "user"
                        to_id: "843529697853046804"
                        amount: 10000
                        reason: "Зарплата"
                        created_at: 1760990551476
                        author_id: "1133665013794607114"
                    total: 6
        '401':
          $ref: '#/components/responses/UnauthorizedMissingOrInvalidToken'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - CivOps Economy v2
      summary: Операции с правительством
      description: |
        Управление правительственными финансами и переводами.

        Доступные действия:
        - `addMoney` - добавить деньги в бюджет (требует amount).
        - `removeMoney` - забрать деньги из бюджета (требует amount).
        - `withdraw` - перевести деньги из бюджета получателю (требует amount, toType, toId, reason, authorId).

        toType может быть: `user`, `business`, `mafia`
      security:
        - MRPAPIKey: []
      parameters:
        - name: action
          in: query
          description: Тип операции.
          required: true
          schema:
            type: string
            enum: [addMoney, removeMoney, withdraw]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              addMoney:
                summary: Добавить деньги в бюджет правительства
                value:
                  amount: 50000
              removeMoney:
                summary: Снять деньги из бюджета правительства
                value:
                  amount: 10000
              withdraw:
                summary: Выделить деньги из бюджета (перевод пользователю/бизнесу/мафии)
                value:
                  amount: 25000
                  toType: "user"
                  toId: "1133665013794607114"
                  reason: "Выплата компенсации"
                  authorId: "987654321"
      responses:
        '200':
          description: Операция успешно выполнена.
          content:
            application/json:
              schema:
                type: object
              examples:
                addMoney:
                  summary: Деньги добавлены.
                  value:
                    success: true
                    added: 50000
                    newBalance:
                      bank: 5050000
                withdraw:
                  summary: Перевод выполнен.
                  value:
                    success: true
                    transferId: "5RW0QT8T"
                    toType: "user"
                    toId: "1133665013794607114"
                    amount: 25000
                    reason: "Выплата компенсации."
        '400':
          description: Ошибка запроса (отсутствуют обязательные поля или неизвестный action).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedMissingOrInvalidToken'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /moscowroleplay/civops/store:
    get:
      tags:
        - CivOps Economy v2
      summary: Получение данных магазина
      description: |
        Получение информации о товарах в магазине.

        Доступные действия:
        - `list` - список всех товаров магазина.
        - `info` - информация о конкретном товаре (требует itemName).

      security:
        - MRPAPIKey: []
      parameters:
        - name: action
          in: query
          description: Тип действия для получения данных.
          required: true
          schema:
            type: string
            enum: [list, info]
        - name: itemName
          in: query
          description: Название товара (обязателен для info).
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Успешный ответ с данными магазина.
          content:
            application/json:
              schema:
                type: object
              examples:
                list:
                  summary: Список товаров.
                  value:
                    count: 4
                    items:
                      - name: "Петух"
                        description: "Надежный петух, с помощью которого вы можете выиграть (или проиграть) петушиный бой."
                        price_buy: 2000
                        price_sell: null
                        quantity: null
                        can_use: true
                        can_sell: false
                        createdAt: 1760174181177
                      - name: "Элитный Класс"
                        description: "Получите роль \"Элитный Класс\", чтобы продемонстрировать свое богатство."
                        price_buy: 10000000
                        price_sell: null
                        quantity: null
                        can_use: false
                        can_sell: false
                        createdAt: 1760176255275
                      - name: "Лицензия На Ведение Бизнеса"
                        description: "Бизнес должен быть уникальным и одобрен государственными органами и менеджментом сервера. Лицензия может быть аннулирована при отсутствии активности, неправильном использовании или при нарушении правил сервера."
                        price_buy: 15000
                        price_sell: 0
                        quantity: null
                        can_use: false
                        can_sell: false
                        createdAt: 1761645253540
                      - name: "Вино \"🍷The Box\""
                        description: "В нём живёт свет первых встреч. Тёплый, как смех, что согревал пустые комнаты. Он мягко держит в себе воспоминания о том, как мир становился легче, когда рядом была доброта, не требующая слов."
                        price_buy: 50000
                        price_sell: 0
                        quantity: 993
                        can_use: false
                        can_sell: false
                        createdAt: 1766424061071
                info:
                  summary: Информация о товаре.
                  value:
                    item:
                      name: "Петух"
                      description: "Надежный петух, с помощью которого вы можете выиграть (или проиграть) петушиный бой."
                      price_buy: 2000
                      price_sell: null
                      quantity: null
                      can_use: true
                      can_sell: false
                      createdAt: 1760174181177
        '400':
          description: Ошибка запроса (отсутствует itemName для info или неизвестный action).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedMissingOrInvalidToken'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - CivOps Economy v2
      summary: Операции с магазином
      description: |
        Управление товарами магазина и покупка/продажа.

        Доступные действия:
        - `addItem` - добавить товар в магазин (требует item с name, price_buy, ...).
        - `removeItem` - удалить товар из магазина (требует itemName).
        - `buy` - купить товар у магазина (требует userId, itemName, quantity).
        - `sellToStore` - продать товар магазину (требует userId, itemName, quantity).
      security:
        - MRPAPIKey: []
      parameters:
        - name: action
          in: query
          description: Тип операции.
          required: true
          schema:
            type: string
            enum: [addItem, removeItem, buy, sellToStore]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
            examples:
              addItem:
                summary: Добавить товар в общий магазин
                value:
                  item:
                    name: "Вино \"🍷The Box\""
                    price_buy: 50000
                    price_sell: 0
                    description: "В нём живёт свет первых встреч. Тёплый, как смех, что согревал пустые комнаты."
                    quantity: 1000
                    can_use: false
                    can_sell: false
              removeItem:
                summary: Удалить товар из общего магазина
                value:
                  itemName: "Вино \"🍷The Box\""
              buy:
                summary: Купить товар из общего магазина
                value:
                  userId: "1133665013794607114"
                  itemName: "Петух"
                  quantity: 1
              sellToStore:
                summary: Продать товар в магазин
                value:
                  userId: "1133665013794607114"
                  itemName: "Вино \"🍷The Box\""
                  quantity: 5
      responses:
        '200':
          description: Операция успешно выполнена.
          content:
            application/json:
              schema:
                type: object
              examples:
                addItem:
                  summary: Товар добавлен.
                  value:
                    success: true
                    item: "Вино \"🍷The Box\""
                    price_buy: 50000
                    price_sell: 0
                    quantity: 1000
                    can_use: false
                    can_sell: false
                buy:
                  summary: Успешная покупка.
                  value:
                    success: true
                    userId: "1133665013794607114"
                    item: "Петух"
                    quantity: 1
                    totalPrice: 2000
                sellToStore:
                  summary: Успешная продажа.
                  value:
                    success: true
                    userId: "1133665013794607114"
                    item: "Вино \"🍷The Box\""
                    quantity: 5
                    totalPrice: 0
        '400':
          description: Ошибка запроса (отсутствуют обязательные поля, товар не найден или неизвестный action).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedMissingOrInvalidToken'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /moscowroleplay/civops/ads:
    get:
      tags:
        - CivOps Economy v2
      summary: Получение рекламных объявлений
      description: |
        Получение списка заявок на рекламу.

        Доступные действия:
        - `list` - список заявок на рекламу (требует page, limit).

      security:
        - MRPAPIKey: []
      parameters:
        - name: action
          in: query
          description: Тип действия для получения данных.
          required: true
          schema:
            type: string
            enum: [list]
        - name: limit
          in: query
          description: Лимит записей (по умолчанию 10).
          required: false
          schema:
            type: integer
            default: 10
        - name: page
          in: query
          description: Номер страницы (по умолчанию 1).
          required: false
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Успешный ответ со списком заявок.
          content:
            application/json:
              schema:
                type: object
              examples:
                list:
                  summary: Список заявок на рекламу.
                  value:
                    count: 8
                    ads:
                      - id: 38
                        user_id: "1133665013794607114"
                        username: "IvanPetrov"
                        business_name: "Moscow Motors"
                        address: "ул. Ленина, 1"
                        created_at: 1776893453
                      - id: 37
                        user_id: "1133665013794607114"
                        username: "IvanPetrov"
                        business_name: "Moscow Motors"
                        address: "ул. Ленина, 1"
                        created_at: 1776893361
                      - id: 36
                        user_id: "1133665013794607114"
                        username: "pancakeboyman_8"
                        business_name: "Безопасные Качественные Дороги"
                        address: "3101 Orchard Boulevard"
                        created_at: 1761929707
                      - id: 35
                        user_id: "1133665013794607114"
                        username: "pancakeboyman_8"
                        business_name: "Безопасные Качественные Дороги"
                        address: "3101 Orchard Boulevard"
                        created_at: 1761929658
                      - id: 34
                        user_id: "1133665013794607114"
                        username: "pancakeboyman_8"
                        business_name: "Безопасные Качественные Дороги"
                        address: "3101 Orchard Boulevard"
                        created_at: 1761929405
                      - id: 33
                        user_id: "1133665013794607114"
                        username: "pancakeboyman_8"
                        business_name: "Безопасные Качественные Дороги"
                        address: "3101 Orchard Boulevard"
                        created_at: 1761929284
                      - id: 32
                        user_id: "1133665013794607114"
                        username: "pancakeboyman_8"
                        business_name: "Безопасные Качественные Дороги"
                        address: "3101 Orchard Boulevard"
                        created_at: 1761929190
                      - id: 31
                        user_id: "1133665013794607114"
                        username: "pancakeboyman_8"
                        business_name: "Безопасные Качественные Дороги"
                        address: "3101 Orchard Boulevard"
                        created_at: 1761927415
        '401':
          $ref: '#/components/responses/UnauthorizedMissingOrInvalidToken'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      tags:
        - CivOps Economy v2
      summary: Создание заявки на рекламу
      description: |
        Создание новой заявки на размещение рекламы.

        Доступные действия:
        - `create` - создать заявку (требует userId, username, businessName, address).
      security:
        - MRPAPIKey: []
      parameters:
        - name: action
          in: query
          description: Тип операции.
          required: true
          schema:
            type: string
            enum: [create]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                  description: ID пользователя.
                username:
                  type: string
                  description: Имя пользователя.
                businessName:
                  type: string
                  description: Название бизнеса.
                address:
                  type: string
                  description: Адрес бизнеса.
            examples:
              create:
                summary: Создать заявку на рекламу
                value:
                  userId: "1104388035199639585"
                  username: "forziknerves"
                  businessName: "UKpanik"
                  address: "Артемовск, Площадь Ленина 5"
      responses:
        '200':
          description: Заявка успешно создана.
          content:
            application/json:
              schema:
                type: object
              examples:
                create:
                  summary: Заявка создана.
                  value:
                    success: true
                    userId: "1104388035199639585"
                    businessName: "UKpanik"
                    address: "Артемовск, Площадь Ленина 5"
                    adSent: true
        '400':
          description: Ошибка запроса (отсутствуют обязательные поля).
          content:
            application/json:
              schema:
                type: object
              example:
                error: "userId, username, businessName, address required"
        '401':
          $ref: '#/components/responses/UnauthorizedMissingOrInvalidToken'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /moscowroleplay/civops/system:
    get:
      tags:
        - CivOps Economy v2
      summary: Системная информация
      description: |
        Получение системной информации и статистики Economy API.

        Доступные действия:
        - `stats` - общая статистика (users, businesses, mafias, governmentBalance).
        - `uptime` - время работы сервера.
        - `dbStatus` - статус подключения к базе данных.

      security:
        - MRPAPIKey: []
      parameters:
        - name: action
          in: query
          description: Тип действия для получения данных.
          required: true
          schema:
            type: string
            enum: [stats, uptime, dbStatus]
      responses:
        '200':
          description: Успешный ответ с системными данными.
          content:
            application/json:
              schema:
                type: object
              examples:
                stats:
                  summary: Статистика системы.
                  value:
                    users: 216
                    businesses: 9
                    mafias: 1
                    governmentBalance: 99990000001
                    uptime: 1132.925331823
                    memory:
                      rss: 194883584
                      heapTotal: 72372224
                      heapUsed: 69451704
                      external: 6152340
                      arrayBuffers: 416832
                    timestamp: "2026-04-23T16:21:16.502Z"
                uptime:
                  summary: Время работы.
                  value:
                    uptime: 1138.501762406
                    uptimeFormatted: "0д 0ч 18м 58с"
                    timestamp: "2026-04-23T16:21:22.078Z"
                dbStatus:
                  summary: Статус БД.
                  value:
                    status: "connected"
                    timestamp: "2026-04-23T16:21:29.210Z"
        '400':
          description: Ошибка запроса (неизвестный action).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedMissingOrInvalidToken'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          description: Ошибка при проверке статуса БД.
          content:
            application/json:
              schema:
                type: object
              examples:
                db_error:
                  summary: Ошибка подключения к БД.
                  value:
                    status: "disconnected"
                    error: "Connection timeout"

  /moscowroleplay/civops/health:
    get:
      tags:
        - CivOps Economy v2
      summary: Проверка состояния API экономики
      description: |
        Проверка доступности и состояния API экономики.
        Этот эндпоинт не требует аутентификации.
      responses:
        '200':
          description: API экономики доступен и работает корректно.
          content:
            application/json:
              schema:
                type: object
              examples:
                healthy:
                  summary: Система работает нормально.
                  value:
                    status: "ok"
                    economy_api:
                      status: "ok"
                      service: "Economy API"
                      timestamp: "2026-04-23T16:25:50.237Z"
                      uptime: 1406.661067506
                    timestamp: "2026-04-23T16:25:50.239Z"
        '503':
          description: API экономики недоступен.
          content:
            application/json:
              schema:
                type: object
              examples:
                unhealthy:
                  summary: Система недоступна.
                  value:
                    status: "error"
                    message: "Economy API unavailable"
                    error: "Connection timeout"

components:
  securitySchemes:
    MRPAPIKey:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: |
        API ключ для доступа к эндпоинтам Гражданских Операций.

        Передается в заголовке `Authorization: Bearer <ключ>`.

        ОБЯЗАТЕЛЕН ДЛЯ ВСЕХ ЭНДПОИНТОВ ГРАЖДАНСКИХ ОПЕРАЦИЙ (кроме /health).
  responses:
    UnauthorizedMissingOrInvalidToken:
      description: Ошибка аутентификации.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
          examples:
            missing_token:
              summary: Нет токена.
              value:
                code: 5007
                message: missing_token
            invalid_token:
              summary: Неверный или деактивированный токен.
              value:
                code: 5008
                message: invalid_token
            invalid_master_key:
              summary: Неверный мастер-ключ.
              value:
                code: 5006
                message: invalid_master_key
    Forbidden:
      description: Доступ запрещён.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ForbiddenError'
          examples:
            forbidden:
              summary: Нет прав доступа к эндпоинту.
              value:
                code: 5009
                message: forbidden
            api_version_forbidden:
              summary: Доступ к этой версии API запрещён.
              value:
                code: 5010
                message: api_version_forbidden
            query_param_forbidden:
              summary: Query-параметр запрещён.
              value:
                code: 5011
                message: query_param_forbidden
    TooManyRequests:
      description: Превышено количество запросов.
      headers:
        X-RateLimit-Limit:
          description: Максимум запросов в минуту.
          schema:
            type: integer
            example: 60
        X-RateLimit-Remaining:
          description: Оставшееся количество запросов.
          schema:
            type: integer
            example: 0
        Retry-After:
          description: Секунд до сброса лимита.
          schema:
            type: integer
            example: 30
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RateLimitError'
          examples:
            rate_limit_exceeded:
              summary: Превышение лимита запросов.
              value:
                code: 5016
                message: rate_limit_exceeded
                bucket: "economy-global"
                retry_after: 30
    InternalServerError:
      description: Внутренняя ошибка сервера.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            server_error:
              summary: Ошибка API экономики.
              value:
                code: 5018
                message: server_error
  schemas:
    ErrorResponse:
      type: object
      description: Стандартный формат ошибки.
      required:
        - code
        - message
      properties:
        code:
          type: integer
          description: Код ошибки API.
          example: 5007
        message:
          type: string
          description: Сообщение/идентификатор ошибки.
          example: missing_token
    UnauthorizedError:
      type: object
      description: Ошибка аутентификации (отсутствует или неверный токен).
      required:
        - code
        - message
      properties:
        code:
          type: integer
          example: 5007
        message:
          type: string
          example: missing_token
    ForbiddenError:
      type: object
      description: Ошибка доступа (запрещено).
      required:
        - code
        - message
      properties:
        code:
          type: integer
          example: 5009
        message:
          type: string
          example: forbidden
    RateLimitError:
      type: object
      description: Ошибка превышения лимита запросов.
      required:
        - code
        - message
      properties:
        code:
          type: integer
          example: 5016
        message:
          type: string
          example: rate_limit_exceeded
        bucket:
          type: string
          description: Название бакета rate limit.
          example: "economy-global"
        retry_after:
          type: integer
          description: Время до сброса лимита в секундах.
          example: 30
    EconomyTransferRequest:
      type: object
      description: Запрос на перевод между пользователями (action=transfer).
      required:
        - fromUserId
        - toUserId
        - amount
      properties:
        fromUserId:
          type: string
          description: ID отправителя.
          example: "123456789"
        toUserId:
          type: string
          description: ID получателя.
          example: "987654321"
        amount:
          type: integer
          description: Сумма перевода.
          example: 1000
    EconomyUserAmountRequest:
      type: object
      description: Запрос с userId и amount (action=deposit, withdraw).
      required:
        - userId
        - amount
      properties:
        userId:
          type: string
          description: ID пользователя.
          example: "123456789"
        amount:
          type: integer
          description: Сумма операции.
          example: 5000
    EconomyUserTypeRequest:
      type: object
      description: Запрос с userId, amount и type (action=add, remove).
      required:
        - userId
        - amount
      properties:
        userId:
          type: string
          description: ID пользователя.
          example: "123456789"
        amount:
          type: integer
          description: Сумма операции.
          example: 1000
        type:
          type: string
          description: Тип баланса ('cash' или 'bank').
          enum: [cash, bank]
          default: cash
          example: cash
    EconomyUserOnlyRequest:
      type: object
      description: Запрос только с userId (action=reset).
      required:
        - userId
      properties:
        userId:
          type: string
          description: ID пользователя.
          example: "123456789"
    EconomyResetCooldownRequest:
      type: object
      description: Запрос на сброс кулдауна (action=resetCooldown).
      required:
        - userId
      properties:
        userId:
          type: string
          description: ID пользователя.
          example: "123456789"
        command:
          type: string
          description: Название команды для сброса (если не указано - сбрасывает все).
          example: "work"
    UsersAddItemRequest:
      type: object
      description: Запрос на добавление предмета в инвентарь (action=addItem).
      required:
        - userId
        - item
      properties:
        userId:
          type: string
          description: ID пользователя.
          example: "123456789"
        item:
          type: object
          description: Предмет для добавления.
          required:
            - name
          properties:
            name:
              type: string
              description: Название предмета.
              example: "Police Badge"
            amount:
              type: integer
              description: Количество.
              default: 1
              example: 1
            description:
              type: string
              description: Описание предмета.
              example: "Official police badge"
    UsersRemoveItemRequest:
      type: object
      description: Запрос на удаление предмета из инвентаря (action=removeItem).
      required:
        - userId
        - itemName
      properties:
        userId:
          type: string
          description: ID пользователя.
          example: "123456789"
        itemName:
          type: string
          description: Название предмета.
          example: "Coffee"
        amount:
          type: integer
          description: Количество.
          default: 1
          example: 2
    UsersClearInventoryRequest:
      type: object
      description: Запрос на очистку инвентаря (action=clearInventory).
      required:
        - userId
      properties:
        userId:
          type: string
          description: ID пользователя.
          example: "123456789"
    BusinessRequestRequest:
      type: object
      description: Запрос на создание заявки на бизнес (action=request).
      required:
        - userId
        - username
        - name
        - form
      properties:
        userId:
          type: string
          description: ID пользователя.
          example: "123456789"
        username:
          type: string
          description: Имя пользователя.
          example: "Player1"
        name:
          type: string
          description: Название бизнеса.
          example: "Moscow Motors"
        form:
          type: string
          description: Форма бизнеса.
          example: "ООО"
        channelId:
          type: string
          description: ID Discord канала для уведомлений.
          example: "1417184142227144877"
    BusinessApproveRequest:
      type: object
      description: Запрос на одобрение заявки на бизнес (action=approve).
      required:
        - requestId
        - approverId
      properties:
        requestId:
          type: string
          description: ID заявки.
          example: "req_123"
        approverId:
          type: string
          description: ID одобряющего.
          example: "987654321"
        ownerId:
          type: string
          description: ID владельца бизнеса.
          example: "123456789"
        ownerName:
          type: string
          description: Имя владельца.
          example: "Player1"
        channelId:
          type: string
          description: ID Discord канала.
        channelName:
          type: string
          description: Название канала.
        roleId:
          type: string
          description: ID роли Discord.
        roleName:
          type: string
          description: Название роли.
        employeeRoleId:
          type: string
          description: ID роли сотрудников.
        employeeRoleName:
          type: string
          description: Название роли сотрудников.
        description:
          type: string
          description: Описание бизнеса.
        address:
          type: string
          description: Адрес бизнеса.
    BusinessCreateRequest:
      type: object
      description: Запрос на прямое создание бизнеса (action=create).
      required:
        - businessData
      properties:
        businessData:
          type: object
          description: Данные бизнеса.
    BusinessIdOnlyRequest:
      type: object
      description: Запрос только с ID бизнеса (action=delete).
      required:
        - businessId
      properties:
        businessId:
          type: string
          description: ID бизнеса.
          example: "biz_123"
    BusinessMoneyRequest:
      type: object
      description: Запрос на изменение баланса бизнеса (action=addMoney, removeMoney).
      required:
        - businessId
        - amount
      properties:
        businessId:
          type: string
          description: ID бизнеса.
          example: "biz_123"
        amount:
          type: integer
          description: Сумма.
          example: 5000
    BusinessWithdrawRequest:
      type: object
      description: Запрос на вывод денег из бизнеса (action=withdraw).
      required:
        - businessId
        - amount
        - targetUserId
      properties:
        businessId:
          type: string
          description: ID бизнеса.
          example: "biz_123"
        amount:
          type: integer
          description: Сумма.
          example: 5000
        targetUserId:
          type: string
          description: ID целевого пользователя.
          example: "123456789"
    BusinessTransferRequest:
      type: object
      description: Запрос на перевод между бизнесами (action=transfer).
      required:
        - fromBusinessId
        - toBusinessId
        - amount
        - authorId
      properties:
        fromBusinessId:
          type: string
          description: ID бизнеса-отправителя.
          example: "biz_123"
        toBusinessId:
          type: string
          description: ID бизнеса-получателя.
          example: "biz_456"
        amount:
          type: integer
          description: Сумма.
          example: 10000
        reason:
          type: string
          description: Причина перевода.
          example: "Оплата услуг"
        authorId:
          type: string
          description: ID автора операции.
          example: "123456789"
    BusinessEmployeeRequest:
      type: object
      description: Запрос на добавление сотрудника (action=addEmployee).
      required:
        - businessId
        - userId
        - username
        - position
      properties:
        businessId:
          type: string
          description: ID бизнеса.
          example: "biz_123"
        userId:
          type: string
          description: ID пользователя.
          example: "123456789"
        username:
          type: string
          description: Имя пользователя.
          example: "Employee1"
        position:
          type: string
          description: Должность.
          example: "Manager"
    BusinessRemoveEmployeeRequest:
      type: object
      description: Запрос на удаление сотрудника (action=removeEmployee).
      required:
        - businessId
        - userId
      properties:
        businessId:
          type: string
          description: ID бизнеса.
          example: "biz_123"
        userId:
          type: string
          description: ID пользователя.
          example: "123456789"
    BusinessProductRequest:
      type: object
      description: Запрос на добавление товара (action=addProduct).
      required:
        - businessName
        - item
      properties:
        businessName:
          type: string
          description: Название бизнеса.
          example: "Moscow Motors"
        item:
          type: object
          description: Товар.
          required:
            - name
            - price_buy
          properties:
            name:
              type: string
              description: Название товара.
              example: "Car"
            price_buy:
              type: integer
              description: Цена покупки.
              example: 50000
            price_sell:
              type: integer
              description: Цена продажи.
            quantity:
              type: integer
              description: Количество.
            can_sell:
              type: boolean
              description: Можно ли продавать.
            description:
              type: string
              description: Описание товара.
    BusinessRemoveProductRequest:
      type: object
      description: Запрос на удаление товара (action=removeProduct).
      required:
        - businessName
        - itemName
      properties:
        businessName:
          type: string
          description: Название бизнеса.
          example: "Moscow Motors"
        itemName:
          type: string
          description: Название товара.
          example: "Car"
    BusinessBuyProductRequest:
      type: object
      description: Запрос на покупку товара (action=buyProduct).
      required:
        - userId
        - businessName
        - itemName
      properties:
        userId:
          type: string
          description: ID пользователя.
          example: "123456789"
        businessName:
          type: string
          description: Название бизнеса.
          example: "Moscow Motors"
        itemName:
          type: string
          description: Название товара.
          example: "Car"
        quantity:
          type: integer
          description: Количество.
          default: 1
          example: 1
    BusinessReturnMoneyRequest:
      type: object
      description: Запрос на возврат денег (action=returnMoney).
      required:
        - businessId
        - transactionId
      properties:
        businessId:
          type: string
          description: ID бизнеса.
          example: "biz_123"
        transactionId:
          type: string
          description: ID транзакции.
          example: "txn_001"
    MafiaCreateRequest:
      type: object
      description: Запрос на создание мафии (action=create).
      required:
        - name
      properties:
        name:
          type: string
          description: Название мафии.
          example: "Red Mafia"
        leaderId:
          type: string
          description: ID лидера.
          example: "123456789"
        leaderName:
          type: string
          description: Имя лидера.
          example: "Boss"
        roleId:
          type: string
          description: ID роли Discord.
        roleName:
          type: string
          description: Название роли.
        color:
          type: string
          description: Цвет в HEX.
          example: "#FF0000"
    MafiaIdOnlyRequest:
      type: object
      description: Запрос только с ID мафии (action=delete).
      required:
        - mafiaId
      properties:
        mafiaId:
          type: string
          description: ID мафии.
          example: "maf_456"
    MafiaMoneyRequest:
      type: object
      description: Запрос на изменение баланса мафии (action=addMoney, removeMoney).
      required:
        - mafiaId
        - amount
      properties:
        mafiaId:
          type: string
          description: ID мафии.
          example: "maf_456"
        amount:
          type: integer
          description: Сумма.
          example: 5000
    MafiaWithdrawRequest:
      type: object
      description: Запрос на вывод денег из мафии (action=withdraw).
      required:
        - mafiaId
        - amount
        - targetUserId
      properties:
        mafiaId:
          type: string
          description: ID мафии.
          example: "maf_456"
        amount:
          type: integer
          description: Сумма.
          example: 5000
        targetUserId:
          type: string
          description: ID целевого пользователя.
          example: "123456789"
    MafiaTransferRequest:
      type: object
      description: Запрос на перевод между мафиями (action=transfer).
      required:
        - fromMafiaId
        - toMafiaId
        - amount
        - authorId
      properties:
        fromMafiaId:
          type: string
          description: ID мафии-отправителя.
          example: "maf_456"
        toMafiaId:
          type: string
          description: ID мафии-получателя.
          example: "maf_789"
        amount:
          type: integer
          description: Сумма.
          example: 10000
        reason:
          type: string
          description: Причина перевода.
        authorId:
          type: string
          description: ID автора операции.
          example: "123456789"
    MafiaAddMemberRequest:
      type: object
      description: Запрос на добавление члена мафии (action=addMember).
      required:
        - mafiaId
        - userId
        - username
      properties:
        mafiaId:
          type: string
          description: ID мафии.
          example: "maf_456"
        userId:
          type: string
          description: ID пользователя.
          example: "123456789"
        username:
          type: string
          description: Имя пользователя.
          example: "Member1"
        position:
          type: string
          description: Позиция/должность.
          default: "Участник"
          example: "Участник"
    MafiaRemoveMemberRequest:
      type: object
      description: Запрос на удаление члена мафии (action=removeMember).
      required:
        - mafiaId
        - userId
      properties:
        mafiaId:
          type: string
          description: ID мафии.
          example: "maf_456"
        userId:
          type: string
          description: ID пользователя.
          example: "123456789"
    GovernmentMoneyRequest:
      type: object
      description: Запрос на изменение баланса правительства (action=addMoney, removeMoney).
      required:
        - amount
      properties:
        amount:
          type: integer
          description: Сумма.
          example: 100000
    GovernmentWithdrawRequest:
      type: object
      description: Запрос на вывод денег из бюджета (action=withdraw).
      required:
        - amount
        - toType
        - toId
        - authorId
      properties:
        amount:
          type: integer
          description: Сумма.
          example: 5000
        toType:
          type: string
          description: Тип получателя.
          enum: [user, business, mafia]
          example: "user"
        toId:
          type: string
          description: ID получателя.
          example: "123456789"
        reason:
          type: string
          description: Причина перевода.
          example: "Salary"
        authorId:
          type: string
          description: ID автора операции.
          example: "admin_001"
    StoreAddItemRequest:
      type: object
      description: Запрос на добавление товара в магазин (action=addItem).
      required:
        - item
      properties:
        item:
          type: object
          description: Товар.
          required:
            - name
            - price_buy
          properties:
            name:
              type: string
              description: Название товара.
              example: "Police Badge"
            price_buy:
              type: integer
              description: Цена покупки.
              example: 1000
            price_sell:
              type: integer
              description: Цена продажи.
            quantity:
              type: integer
              description: Количество.
            can_sell:
              type: boolean
              description: Можно ли продавать.
            description:
              type: string
              description: Описание товара.
    StoreRemoveItemRequest:
      type: object
      description: Запрос на удаление товара из магазина (action=removeItem).
      required:
        - itemName
      properties:
        itemName:
          type: string
          description: Название товара.
          example: "Police Badge"
    StoreBuyRequest:
      type: object
      description: Запрос на покупку товара (action=buy).
      required:
        - userId
        - itemName
      properties:
        userId:
          type: string
          description: ID пользователя.
          example: "123456789"
        itemName:
          type: string
          description: Название товара.
          example: "Police Badge"
        quantity:
          type: integer
          description: Количество.
          default: 1
          example: 1
    StoreSellRequest:
      type: object
      description: Запрос на продажу товара магазину (action=sellToStore).
      required:
        - userId
        - itemName
      properties:
        userId:
          type: string
          description: ID пользователя.
          example: "123456789"
        itemName:
          type: string
          description: Название товара.
          example: "Coffee"
        quantity:
          type: integer
          description: Количество.
          default: 1
          example: 2
