openapi: 3.1.0
info:
  title: Moscow RolePlay API - ER:LC Endpoints  
  description: >
    **ВНИМАНИЕ: Данная версия API v1 устарела!**
    
    Большинство эндпоинтов отключены и возвращают ошибку 500.
    Рекомендуется использовать новую версию API.
    
    Работает только эндпоинт: `/moscowroleplay/erlc/server/bans`


    ## Rate Limits (Ограничения запросов)


    | Эндпоинт | Лимит |

    |----------|-------|

    | `/moscowroleplay/erlc/server/*` (кроме command) | 120 запросов/мин |

    | `/moscowroleplay/erlc/server/command` | Очередь: 100 команд |


    При превышении лимита возвращается **HTTP 429**.


    ## Формат Ответа Об Ошибке


    Все ошибки возвращаются в формате JSON с полями `code` и `message`:


    ```json

    {

        "code": 5007,

        "message": "missing_token"

    }

    ```


    ## Коды Ошибок


    ### Ошибки Аутентификации и Доступа


    | Код | Статус | Описание |

    |-----|--------|----------|

    | 5006 | 401 | invalid_master_key |

    | 5007 | 401 | missing_token |

    | 5008 | 401 | invalid_token |

    | 5009 | 403 | forbidden |

    | 5010 | 403 | api_version_forbidden |

    | 5011 | 403 | query_param_forbidden |


    ### Ошибки PRC API


    Эндпоинты используют внешний PRC API и могут возвращать ошибки:


    | Код PRC | Описание |

    |---------|----------|

    | 2002 | Invalid or expired server-key |

    | 3002 | Server is offline |

    | 4001 | Rate limited |

    | 9999 | Module out of date |


    При ошибке PRC API возвращается:


    ```json

    {

        "code": 5019,

        "message": "prc_api_error",

        "prc_code": 2002,

        "prc_message": "Invalid or expired server-key"

    }

    ```


    Базовый URL: `https://api.erlcrussia.xyz/v1`

  version: 1.0.0
servers:
  - url: https://api.erlcrussia.xyz/v1
    description: Production
tags:
  - name: ERLC
    description: Данные игрового сервера ER:LC и управление им.
paths:
  /moscowroleplay/erlc/server:
    get:
      tags:
        - ERLC
      summary: Информация о Сервере ER:LC  
      description: >
        **ЭНДПОИНТ ОТКЛЮЧЕН** - Возвращает ошибку 500.
        
        Получение общей информации о сервере ER:LC (онлайн, название, статус и т.д.).
      deprecated: true
      security:
        - MRPAPIKey: []
      responses:
        '500':
          description: Эндпоинт отключен/устарел.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 5018
                message: 'Endpoint устарел. Используйте более новую версию API.'
  /moscowroleplay/erlc/server/players:
    get:
      tags:
        - ERLC
      summary: Список Игроков На Сервере  
      description: |
        **ЭНДПОИНТ ОТКЛЮЧЕН** - Возвращает ошибку 500.
        
        Возвращает текущий список игроков на сервере ER:LC.
      deprecated: true
      security:
        - MRPAPIKey: []
      responses:
        '500':
          description: Эндпоинт отключен/устарел.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 5018
                message: 'Endpoint устарел. Используйте более новую версию API.'
  /moscowroleplay/erlc/server/joinlogs:
    get:
      tags:
        - ERLC
      summary: Логи Входов/Выходов Игроков  
      description: |
        **ЭНДПОИНТ ОТКЛЮЧЕН** - Возвращает ошибку 500.
        
        Возвращает список логов входов и выходов игроков на сервер.
      deprecated: true
      security:
        - MRPAPIKey: []
      responses:
        '500':
          description: Эндпоинт отключен/устарел.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 5018
                message: 'Endpoint устарел. Используйте более новую версию API.'
  /moscowroleplay/erlc/server/queue:
    get:
      tags:
        - ERLC
      summary: Очередь На Сервер  
      description: |
        **ЭНДПОИНТ ОТКЛЮЧЕН** - Возвращает ошибку 500.
        
        Возвращает информацию об очереди на сервер ER:LC.
      deprecated: true
      security:
        - MRPAPIKey: []
      responses:
        '500':
          description: Эндпоинт отключен/устарел.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 5018
                message: 'Endpoint устарел. Используйте более новую версию API.'
  /moscowroleplay/erlc/server/killlogs:
    get:
      tags:
        - ERLC
      summary: Логи Убийств  
      description: |
        **ЭНДПОИНТ ОТКЛЮЧЕН** - Возвращает ошибку 500.
        
        Возвращает логи убийств на сервере ER:LC.
      deprecated: true
      security:
        - MRPAPIKey: []
      responses:
        '500':
          description: Эндпоинт отключен/устарел.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 5018
                message: 'Endpoint устарел. Используйте более новую версию API.'
  /moscowroleplay/erlc/server/commandlogs:
    get:
      tags:
        - ERLC
      summary: Логи Команд  
      description: |
        **ЭНДПОИНТ ОТКЛЮЧЕН** - Возвращает ошибку 500.
        
        Возвращает логи выполненных команд на сервере.
      deprecated: true
      security:
        - MRPAPIKey: []
      responses:
        '500':
          description: Эндпоинт отключен/устарел.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 5018
                message: 'Endpoint устарел. Используйте более новую версию API.'
  /moscowroleplay/erlc/server/modcalls:
    get:
      tags:
        - ERLC
      summary: Логи Вызовов Модераторов  
      description: |
        **ЭНДПОИНТ ОТКЛЮЧЕН** - Возвращает ошибку 500.
        
        Возвращает логи вызовов модераторов на сервере ER:LC.
      deprecated: true
      security:
        - MRPAPIKey: []
      responses:
        '500':
          description: Эндпоинт отключен/устарел.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 5018
                message: 'Endpoint устарел. Используйте более новую версию API.'
  /moscowroleplay/erlc/server/bans:
    get:
      tags:
        - ERLC
      summary: Список Банов Сервера
      description: |
        Возвращает список активных банов на сервере ER:LC.
      security:
        - MRPAPIKey: []
      responses:
        '200':
          description: Список банов.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
                description: Объект где ключ - PlayerId, значение - имя игрока.
                example:
                  PlayerId: PlayerName
        '401':
          $ref: '#/components/responses/UnauthorizedMissingOrInvalidToken'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '400':
          $ref: '#/components/responses/PRCAPIError'
  /moscowroleplay/erlc/server/vehicles:
    get:
      tags:
        - ERLC
      summary: Список Транспорта На Сервере  
      description: |
        **ЭНДПОИНТ ОТКЛЮЧЕН** - Возвращает ошибку 500.
        
        Возвращает список транспорта, находящегося на сервере ER:LC.
      deprecated: true
      security:
        - MRPAPIKey: []
      responses:
        '500':
          description: Эндпоинт отключен/устарел.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 5018
                message: 'Endpoint устарел. Используйте более новую версию API.'
  /moscowroleplay/erlc/server/staff:
    get:
      tags:
        - ERLC
      summary: Список Персонала Сервера  
      description: |
        **ЭНДПОИНТ ОТКЛЮЧЕН** - Возвращает ошибку 500.
        
        Возвращает список членов персонала сервера ER:LC.
      deprecated: true
      security:
        - MRPAPIKey: []
      responses:
        '500':
          description: Эндпоинт отключен/устарел.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 5018
                message: 'Endpoint устарел. Используйте более новую версию API.'
  /moscowroleplay/erlc/server/command:
    post:
      tags:
        - ERLC
      summary: Отправка Команды На Сервер ER:LC  
      description: >
        **ЭНДПОИНТ ОТКЛЮЧЕН** - Возвращает ошибку 500.
        
        Отправляет команду на выполнение на сервере ER:LC.


        Команды добавляются в глобальную очередь с ограничением на максимальное
        количество команд.


        **Примечание:** Этот эндпоинт **не подвержен** Rate Limiting (120 запросов/мин).
      deprecated: true
      security:
        - MRPAPIKey: []
      requestBody:
        required: true
        description: Объект с Текстом Команды.
        content:
          application/json:
            schema:
              type: object
              required:
                - command
              properties:
                command:
                  type: string
                  example: ':h Тест API'
      responses:
        '500':
          description: Эндпоинт отключен/устарел.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                code: 5018
                message: 'Endpoint устарел. Используйте более новую версию API.'
components:
  securitySchemes:
    MRPAPIKey:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: |
        Стандартный API ключ для доступа к ER:LC эндпоинтам.

        Передается в заголовке `Authorization: Bearer <ключ>`.

        ОБЯЗАТЕЛЕН ДЛЯ ВСЕХ ER:LC ЭНДПОИНТОВ.
  responses:
    BadRequest:
      description: Неверный запрос.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnauthorizedMissingOrInvalidToken:
      description: Ошибка аутентификации.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
          examples:
            missing_token:
              summary: Нет токена.
              value:
                code: 5007
                message: missing_token
            invalid_token:
              summary: Неверный или деактивированный токен.
              value:
                code: 5008
                message: invalid_token
            invalid_master_key:
              summary: Неверный мастер-ключ.
              value:
                code: 5006
                message: invalid_master_key
    Forbidden:
      description: Доступ запрещён.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ForbiddenError'
          examples:
            forbidden:
              summary: Нет прав доступа к эндпоинту.
              value:
                code: 5009
                message: forbidden
            api_version_forbidden:
              summary: Доступ к этой версии API запрещён.
              value:
                code: 5010
                message: api_version_forbidden
            query_param_forbidden:
              summary: Query-параметр запрещён.
              value:
                code: 5011
                message: query_param_forbidden
    NotFound:
      description: Не найдено.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            discord_id_not_found:
              summary: Discord ID не найден.
              value:
                code: 5012
                message: discord_id_not_found
            token_not_found:
              summary: Токен не найден.
              value:
                code: 5013
                message: token_not_found
    TooManyRequests:
      description: Превышено количество запросов (лимит 120/мин) или обнаружен спам (400+ лишних запросов).
      headers:
        X-RateLimit-Limit:
          description: Максимум запросов в минуту.
          schema:
            type: integer
            example: 120
        X-RateLimit-Remaining:
          description: Оставшееся количество запросов.
          schema:
            type: integer
            example: 0
        X-RateLimit-Reset:
          description: Unix timestamp (мс), когда лимит будет сброшен.
          schema:
            type: integer
            example: 1740339600000
        Retry-After:
          description: Секунд до сброса лимита.
          schema:
            type: integer
            example: 45
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/RateLimitError'
              - $ref: '#/components/schemas/SpamBlockedError'
          examples:
            rate_limit_exceeded:
              summary: Превышение лимита 120 запросов/мин.
              value:
                code: 5016
                message: rate_limit_exceeded
                retry_after: 45
                details:
                  limit: 120
                  count: 125
                  excess: 5
                  reset_at: 1740339600000
            spam_blocked:
              summary: Бан за спам (400+ лишних запросов).
              value:
                code: 5023
                message: spam_blocked
                blocked_until: 1740339900000
                remaining_seconds: 300
    PRCAPIError:
      description: Ошибка от внешнего PRC API (ER:LC).
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 5019
              message:
                type: string
                example: prc_api_error
              prc_code:
                type: integer
                description: Код ошибки PRC API.
              prc_message:
                type: string
                description: Описание ошибки.
          examples:
            expired_server_key:
              summary: Server-Key недействителен или истёк.
              value:
                code: 5019
                message: prc_api_error
                prc_code: 2002
                prc_message: Invalid or expired server-key
            server_offline:
              summary: Сервер офлайн (нет игроков).
              value:
                code: 5019
                message: prc_api_error
                prc_code: 3002
                prc_message: Server is offline (no players)
            module_outdated:
              summary: Модуль на сервере устарел.
              value:
                code: 5019
                message: prc_api_error
                prc_code: 9999
                prc_message: In-game server module is out of date
    InternalServerError:
      description: Внутренняя ошибка сервера.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            server_error:
              summary: Ошибка внешнего ER:LC API.
              value:
                code: 5018
                message: server_error
    SpamDetectedLevel1:
      description: Подозрительная активность (500+ запросов/сек). Блокировка на 5 минут.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 5020
              message:
                type: string
                example: spam_detected_level_1
              blocked_until:
                type: string
                format: date-time
                description: Время окончания блокировки.
              remaining_seconds:
                type: integer
                description: Оставшееся время блокировки в секундах.
          examples:
            spam_level_1:
              value:
                code: 5020
                message: spam_detected_level_1
                blocked_until: "2026-02-23T12:35:00.000Z"
                remaining_seconds: 300
    SpamDetectedLevel2:
      description: Атака на сервер (5000+ запросов/сек). Блокировка на 15 минут.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 5021
              message:
                type: string
                example: spam_detected_level_2
              blocked_until:
                type: string
                format: date-time
                description: Время окончания блокировки.
              remaining_seconds:
                type: integer
                description: Оставшееся время блокировки в секундах.
          examples:
            spam_level_2:
              value:
                code: 5021
                message: spam_detected_level_2
                blocked_until: "2026-02-23T12:45:00.000Z"
                remaining_seconds: 900
    SpamDetectedLevel3:
      description: Критическая атака (100000+ запросов/сек). Блокировка на 60 минут.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 5022
              message:
                type: string
                example: spam_detected_level_3
              blocked_until:
                type: string
                format: date-time
                description: Время окончания блокировки.
              remaining_seconds:
                type: integer
                description: Оставшееся время блокировки в секундах.
          examples:
            spam_level_3:
              value:
                code: 5022
                message: spam_detected_level_3
                blocked_until: "2026-02-23T13:30:00.000Z"
                remaining_seconds: 3600
    SpamBlocked:
      description: Активная блокировка за спам. Запрос от заблокированного клиента.
      content:
        application/json:
          schema:
            type: object
            properties:
              code:
                type: integer
                example: 5023
              message:
                type: string
                example: spam_blocked
              blocked_until:
                type: string
                format: date-time
                description: Время окончания блокировки.
              remaining_seconds:
                type: integer
                description: Оставшееся время блокировки в секундах.
          examples:
            spam_blocked:
              value:
                code: 5023
                message: spam_blocked
                blocked_until: "2026-02-23T12:35:00.000Z"
                remaining_seconds: 245
  schemas:
    ErrorResponse:
      type: object
      description: Стандартный формат ошибки.
      required:
        - code
        - message
      properties:
        code:
          type: integer
          description: Код ошибки API.
          example: 5007
        message:
          type: string
          description: Сообщение/идентификатор ошибки.
          example: missing_token
    UnauthorizedError:
      type: object
      description: Ошибка аутентификации (отсутствует или неверный токен).
      required:
        - code
        - message
      properties:
        code:
          type: integer
          example: 5007
        message:
          type: string
          example: missing_token
    ForbiddenError:
      type: object
      description: Ошибка доступа (запрещено).
      required:
        - code
        - message
      properties:
        code:
    RateLimitError:
      type: object
      description: Ошибка превышения лимита запросов (120/мин). Возвращает details с информацией о счётчике.
      required:
        - code
        - message
        - retry_after
        - details
      properties:
        code:
          type: integer
          example: 5016
        message:
          type: string
          example: rate_limit_exceeded
        retry_after:
          type: integer
          description: Время до сброса лимита в секундах.
          example: 45
        details:
          type: object
          properties:
            limit:
              type: integer
              description: Лимит запросов в минуту.
              example: 120
            count:
              type: integer
              description: Текущее количество запросов.
              example: 125
            excess:
              type: integer
              description: Количество лишних запросов (сверх лимита).
              example: 5
            reset_at:
              type: integer
              description: Unix timestamp (мс) сброса лимита.
              example: 1740339600000
    SpamBlockedError:
      type: object
      description: Ошибка блокировки за спам.
      required:
        - code
        - message
        - blocked_until
        - remaining_seconds
      properties:
        code:
          type: integer
          example: 5023
        message:
          type: string
          example: spam_blocked
        blocked_until:
          type: integer
          description: Unix timestamp (мс) окончания блокировки.
          example: 1740339900000
        remaining_seconds:
          type: integer
          description: Секунд до разблокировки.
          example: 300
