openapi: 3.1.0
info:
  title: ER:LC Россия API V1 - Moscow RolePlay API Статистики V1
  version: 1.0.0
servers:
  - url: https://api.erlcrussia.xyz/v1
    description: Moscow RolePlay API Статистики V1
tags:
  - name: Moscow RolePlay API Статистики V1
    description: Открытая статистика Moscow RolePlay.
paths:
  /moscowroleplay/stats/playercount:
    get:
      tags:
        - Moscow RolePlay API Статистики V1
      summary: Текущее Количество Игроков ER:LC
      description: |
        Возвращает текущее количество игроков на сервере ER:LC в виде простого текста.
      security: []
      responses:
        '200':
          description: Количество игроков в виде строки.
          content:
            text/plain:
              schema:
                type: string
                example: '25'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /moscowroleplay/stats/{server}/membercount:
    get:
      tags:
        - Moscow RolePlay API Статистики V1
      summary: Количество Участников Discord Сервера
      description: |
        Возвращает количество участников в Discord для указанного сервера.
      security: []
      parameters:
        - $ref: '#/components/parameters/ServerParam'
      responses:
        '200':
          description: Количество участников в виде строки.
          content:
            text/plain:
              schema:
                type: string
                example: '350'
        '400':
          description: Запрашиваемый тип статистики недоступен для данного сервера.
          content:
            text/plain:
              schema:
                type: string
                example: 'Запрашиваемый тип статистики недоступен для данного сервера'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /moscowroleplay/stats/{server}/allmembercount:
    get:
      tags:
        - Moscow RolePlay API Статистики V1
      summary: Общее Количество Участников (Включая Ботов)
      description: |
        Возвращает общее количество всех участников в Discord (включая ботов) для указанного сервера.
      security: []
      parameters:
        - $ref: '#/components/parameters/ServerParam'
      responses:
        '200':
          description: Общее количество участников в виде строки.
          content:
            text/plain:
              schema:
                type: string
                example: '420'
        '400':
          description: Запрашиваемый тип статистики недоступен для данного сервера.
          content:
            text/plain:
              schema:
                type: string
                example: 'Запрашиваемый тип статистики недоступен для данного сервера'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /moscowroleplay/stats/{server}/botcount:
    get:
      tags:
        - Moscow RolePlay API Статистики V1
      summary: Количество Ботов Discord Сервера
      description: |
        Возвращает количество ботов в Discord для указанного сервера.
      security: []
      parameters:
        - $ref: '#/components/parameters/ServerParam'
      responses:
        '200':
          description: Количество ботов в виде строки.
          content:
            text/plain:
              schema:
                type: string
                example: '15'
        '400':
          description: Запрашиваемый тип статистики недоступен для данного сервера.
          content:
            text/plain:
              schema:
                type: string
                example: 'Запрашиваемый тип статистики недоступен для данного сервера'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  parameters:
    ServerParam:
      name: server
      in: path
      required: true
      description: |
        Имя сервера Discord.
      schema:
        type: string
        enum:
          - MVD
          - FSB
          - MCHS
          - MZ
          - '112'
          - DOT
          - MRP
  responses:
    BadRequest:
      description: Неверный запрос.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: Превышено количество запросов (лимит 20/мин).
      headers:
        X-RateLimit-Limit:
          description: Максимум запросов в минуту.
          schema:
            type: integer
            example: 20
        X-RateLimit-Remaining:
          description: Оставшееся количество запросов.
          schema:
            type: integer
            example: 0
        X-RateLimit-Reset:
          description: Unix timestamp (мс), когда лимит будет сброшен.
          schema:
            type: integer
            example: 1740339600000
        Retry-After:
          description: Секунд до сброса лимита.
          schema:
            type: integer
            example: 45
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Rate Limit Exceeded:
              summary: Превышение лимита 20 запросов/мин.
              value:
                code: 5016
                message: Rate Limit Exceeded
                retry_after: 45
                details:
                  limit: 20
                  count: 25
                  excess: 5
                  reset_at: 1740339600000
    InternalServerError:
      description: Внутренняя ошибка сервера.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            Server Error:
              summary: Ошибка внешнего ERLC API.
              value:
                code: 5018
                message: Server Error
  schemas:
    ErrorResponse:
      type: object
      description: Стандартный формат ошибки.
      required:
        - code
        - message
      properties:
        code:
          type: integer
          description: Код ошибки API.
          example: 5001
        message:
          type: string
          description: Сообщение/идентификатор ошибки.
          example: Missing Discord Id
