openapi: 3.0.3
info:
  title: ClueControl M API (ER:LC Russia)
  description: |
    API для управления сервером ClueControl M в проекте ER:LC Russia.

    ## Авторизация

    Для доступа к API используется заголовок `Authorization` с токеном:
    ```
    Authorization: Bearer YOUR_TOKEN
    ```

    Или query-параметр `token`:
    ```
    ?token=YOUR_TOKEN
    ```

    ## Rate Limiting

    Все эндпоинты имеют лимит **50 запросов в минуту**. При превышении лимита возвращается ошибка `429 Too Many Requests`.

    ## Кэширование

    API использует кэширование данных. Для принудительного обновления кэша используйте:
    - Query-параметр: `?fresh=true`
    - Заголовок: `X-Cache-Refresh: true`
  version: 2.0.0
  contact:
    name: ER:LC Russia Support
    url: https://erlc-russia.ru

servers:
  - url: https://api.erlcrussia.xyz/v2
    description: ClueControl M API Server

tags:
  - name: Status
    description: Эндпоинты для получения статуса сервера и шардов.
  - name: Staff
    description: Эндпоинты для управления сотрудниками и сменами.
  - name: Guild
    description: Эндпоинты для управления гильдиями.
  - name: Applications
    description: Эндпоинты для управления заявками.
  - name: LOA
    description: Эндпоинты для управления отпусками (Leave of Absence).
  - name: Infractions
    description: Эндпоинты для управления нарушениями.
  - name: Logging
    description: Эндпоинты для логирования действий.

paths:
  /cluecontrol-m/status:
    get:
      tags:
        - Status
      summary: Возвращает статус бота.
      description: Возвращает текущий статус бота с количеством гильдий и пингом.
      operationId: getStatus
      security:
        - BearerAuth: []
      parameters:
        - name: fresh
          in: query
          description: Принудительное обновление кэша.
          schema:
            type: boolean
            enum: [true, false]
      responses:
        '200':
          description: Успешный ответ.
          content:
            application/json:
              schema:
                type: object
                properties:
                  guilds:
                    type: integer
                    description: Количество гильдий.
                  ping:
                    type: integer
                    description: Пинг в мс.
        '401':
          description: Неавторизовано.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Превышен лимит запросов.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Внутренняя ошибка сервера.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /cluecontrol-m/shard_pings:
    get:
      tags:
        - Status
      summary: Возвращает пинги всех шардов.
      description: Возвращает пинги всех шардов Discord.
      operationId: getShardPings
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Успешный ответ.
          content:
            application/json:
              schema:
                type: object
                properties:
                  shard_pings:
                    type: object
                    additionalProperties:
                      type: number
                      description: Пинг шарда в мс.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/guild_shard/{guild_id}:
    get:
      tags:
        - Status
      summary: Возвращает ID шарда гильдии.
      description: Возвращает ID шарда, на котором находится указанная гильдия.
      operationId: getGuildShard
      security:
        - BearerAuth: []
      parameters:
        - name: guild_id
          in: path
          required: true
          description: ID гильдии.
          schema:
            type: integer
      responses:
        '200':
          description: Успешный ответ.
          content:
            application/json:
              schema:
                type: object
                properties:
                  guild_id:
                    type: integer
                  shard_id:
                    type: integer
        '401':
          description: Неавторизовано.
        '404':
          description: Гильдия не найдена.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/get_online_staff:
    get:
      tags:
        - Staff
      summary: Возвращает всех сотрудников на смене.
      description: Возвращает всех сотрудников, находящихся сейчас на смене.
      operationId: getOnlineStaff
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Успешный ответ.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    discord:
                      type: string
                    fivem:
                      type: string
                    guild:
                      type: integer
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/get_mutual_guilds:
    post:
      tags:
        - Guild
      summary: Возвращает общие гильдии.
      description: Возвращает общие гильдии для указанных ID.
      operationId: getMutualGuilds
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - guilds
              properties:
                guilds:
                  type: array
                  items:
                    type: integer
      responses:
        '200':
          description: Успешный ответ.
          content:
            application/json:
              schema:
                type: object
                properties:
                  guilds:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        icon_url:
                          type: string
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/approve_application:
    post:
      tags:
        - Applications
      summary: Одобряет заявку.
      description: Одобряет заявку пользователя, отправляет DM и выдаёт роли.
      operationId: approveApplication
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user
                - guild
              properties:
                user:
                  type: integer
                  description: ID пользователя.
                guild:
                  type: integer
                  description: ID гильдии.
                roles:
                  type: array
                  items:
                    type: integer
                  description: Роли для выдачи.
                remove_roles:
                  type: array
                  items:
                    type: integer
                  description: Роли для удаления.
                submitted:
                  type: integer
                  description: Время подачи заявки (Unix timestamp).
                note:
                  type: string
                  description: Заметка к заявке.
                application_name:
                  type: string
                  description: Название заявки.
      responses:
        '200':
          description: Заявка одобрена.
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/deny_application:
    post:
      tags:
        - Applications
      summary: Отклоняет заявку.
      description: Отклоняет заявку пользователя, отправляет DM и управляет ролями.
      operationId: denyApplication
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user
                - guild
              properties:
                user:
                  type: integer
                guild:
                  type: integer
                roles:
                  type: array
                  items:
                    type: integer
                remove_roles:
                  type: array
                  items:
                    type: integer
                submitted:
                  type: integer
                note:
                  type: string
                application_name:
                  type: string
      responses:
        '200':
          description: Заявка отклонена.
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/notify_new_application:
    post:
      tags:
        - Applications
      summary: Уведомление о новой заявке.
      description: Отправляет уведомление о новой заявке в указанный канал.
      operationId: notifyNewApplication
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - guild_id
                - channel_id
                - user_id
              properties:
                guild_id:
                  type: integer
                channel_id:
                  type: integer
                user_id:
                  type: integer
                application_name:
                  type: string
      responses:
        '200':
          description: Уведомление отправлено.
          content:
            application/json:
              schema:
                type: object
                properties:
                  op:
                    type: integer
                  code:
                    type: integer
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/send_staff_request:
    post:
      tags:
        - Staff
      summary: Запрос на получение статуса сотрудника.
      description: Отправляет запрос на получение статуса сотрудника.
      operationId: sendStaffRequest
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - document_id
              properties:
                document_id:
                  type: string
                  description: ID документа заявки.
      responses:
        '200':
          description: Запрос отправлен.
          content:
            application/json:
              schema:
                type: object
                properties:
                  op:
                    type: integer
                  code:
                    type: integer
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/send_priority_dm:
    post:
      tags:
        - Staff
      summary: DM о статусе приоритетного запроса.
      description: Отправляет DM пользователю о статусе приоритетного запроса.
      operationId: sendPriorityDm
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - guild_id
                - user_id
                - status
              properties:
                guild_id:
                  type: integer
                user_id:
                  type: integer
                status:
                  type: string
                  enum: [accepted, denied]
                reason:
                  type: string
                priority_time:
                  type: integer
                  description: Время приоритета в секундах.
      responses:
        '200':
          description: DM отправлен.
          content:
            application/json:
              schema:
                type: object
                properties:
                  op:
                    type: integer
                  code:
                    type: integer
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/send_priority:
    post:
      tags:
        - Staff
      summary: Уведомление о новом приоритете.
      description: Отправляет уведомление о новом приоритете в канал.
      operationId: sendPriority
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - channel_id
                - username
                - user_id
              properties:
                channel_id:
                  type: integer
                username:
                  type: string
                user_id:
                  type: integer
                content:
                  type: string
                players:
                  type: array
                  items:
                    type: string
                panel_link:
                  type: string
      responses:
        '200':
          description: Уведомление отправлено.
          content:
            application/json:
              schema:
                type: object
                properties:
                  op:
                    type: integer
                  code:
                    type: integer
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/send_loa:
    post:
      tags:
        - LOA
      summary: Запрос на отпуск (LOA).
      description: Отправляет запрос на отпуск в канал персонала.
      operationId: sendLoa
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - loa
              properties:
                loa:
                  type: string
                  description: ID документа LOA.
      responses:
        '200':
          description: Запрос отправлен.
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/accept_loa:
    post:
      tags:
        - LOA
      summary: Принятие LOA.
      description: Принимает запрос LOA.
      operationId: acceptLoa
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - loa
                - accepted_by
              properties:
                loa:
                  type: string
                accepted_by:
                  type: integer
                  description: ID принявшего LOA.
      responses:
        '200':
          description: LOA принят.
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/deny_loa:
    post:
      tags:
        - LOA
      summary: Отклонение LOA.
      description: Отклоняет запрос LOA.
      operationId: denyLoa
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - loa
                - denied_by
              properties:
                loa:
                  type: string
                denied_by:
                  type: integer
                reason:
                  type: string
                  description: Причина отказа.
      responses:
        '200':
          description: LOA отклонён.
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/send_application_wave:
    post:
      tags:
        - Applications
      summary: Результаты волны заявок.
      description: Отправляет результаты волны заявок в канал.
      operationId: sendApplicationWave
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - Channel
                - ApplicationName
                - Applicants
              properties:
                Channel:
                  type: integer
                  description: ID канала.
                ApplicationName:
                  type: string
                Applicants:
                  type: array
                  items:
                    type: object
                    properties:
                      DiscordID:
                        type: integer
                      Status:
                        type: string
                      Reason:
                        type: string
                      SubmissionTime:
                        type: integer
      responses:
        '200':
          description: Результаты отправлены.
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/all_members/{guild_id}:
    post:
      tags:
        - Guild
      summary: Все участники гильдии.
      description: Возвращает всех участников гильдии с информацией о ролях и голосовых каналах.
      operationId: getAllMembers
      security:
        - BearerAuth: []
      parameters:
        - name: guild_id
          in: path
          required: true
          description: ID гильдии.
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                guild_id:
                  type: integer
      responses:
        '200':
          description: Успешный ответ.
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        nick:
                          type: string
                        roles:
                          type: array
                          items:
                            type: integer
                        voice_state:
                          type: object
                          properties:
                            channel_id:
                              type: integer
                            channel_name:
                              type: string
                  total_members:
                    type: integer
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/send_logging:
    post:
      tags:
        - Logging
      summary: Логирование команды.
      description: Записывает лог команды.
      operationId: sendLogging
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - guild_id
                - author_id
              properties:
                guild_id:
                  type: integer
                author_id:
                  type: integer
                interpret_type:
                  type: string
                command_string:
                  type: string
                attempted:
                  type: boolean
      responses:
        '200':
          description: Лог записан.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Successfully logged!
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/get_staff_guilds:
    post:
      tags:
        - Staff
      summary: Гильдии со статусом сотрудника.
      description: Возвращает гильдии, где пользователь имеет статус сотрудника.
      operationId: getStaffGuilds
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - guilds
                - user
              properties:
                guilds:
                  type: array
                  items:
                    type: integer
                user:
                  type: integer
      responses:
        '200':
          description: Успешный ответ.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    member_count:
                      type: integer
                    icon_url:
                      type: string
                    permission_level:
                      type: integer
                      description: '1 - Staff, 2 - Management, 3 - Admin'
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/check_staff_level:
    post:
      tags:
        - Staff
      summary: Проверка уровня разрешений.
      description: Проверяет уровень разрешений пользователя в гильдии.
      operationId: checkStaffLevel
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - guild
                - user
              properties:
                guild:
                  type: integer
                user:
                  type: integer
      responses:
        '200':
          description: Успешный ответ.
          content:
            application/json:
              schema:
                type: object
                properties:
                  permission_level:
                    type: integer
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/get_guild_settings:
    post:
      tags:
        - Guild
      summary: Настройки гильдии.
      description: Возвращает настройки гильдии.
      operationId: getGuildSettings
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - guild
              properties:
                guild:
                  type: integer
      responses:
        '200':
          description: Успешный ответ.
          content:
            application/json:
              schema:
                type: object
                description: Объект настроек гильдии.
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/update_guild_settings:
    post:
      tags:
        - Guild
      summary: Обновление настроек гильдии.
      description: Обновляет настройки гильдии.
      operationId: updateGuildSettings
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - guild
              properties:
                guild:
                  type: integer
                staff_management:
                  type: object
                  properties:
                    role:
                      type: array
                      items:
                        type: integer
      responses:
        '200':
          description: Настройки обновлены.
          content:
            application/json:
              schema:
                type: object
                description: Обновлённый объект настроек.
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/get_guild_roles:
    post:
      tags:
        - Guild
      summary: Роли гильдии.
      description: Возвращает все роли гильдии.
      operationId: getGuildRoles
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - guild
              properties:
                guild:
                  type: integer
      responses:
        '200':
          description: Успешный ответ.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    id:
                      type: integer
                    color:
                      type: string
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/get_guild_channels:
    post:
      tags:
        - Guild
      summary: Каналы гильдии.
      description: Возвращает все каналы гильдии.
      operationId: getGuildChannels
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - guild
              properties:
                guild:
                  type: integer
      responses:
        '200':
          description: Успешный ответ.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    id:
                      type: integer
                    type:
                      type: integer
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/get_last_warnings:
    post:
      tags:
        - Logging
      summary: Последние предупреждения (DEPRECATED).
      description: УСТАРЕВШИЙ ЭНДПОИНТ.
      operationId: getLastWarnings
      security:
        - BearerAuth: []
      deprecated: true
      responses:
        '500':
          description: This API is deprecated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /cluecontrol-m/get_discord:
    post:
      tags:
        - Guild
      summary: Discord информация по FiveM лицензии.
      description: Получает Discord-информацию по FiveM лицензии.
      operationId: getDiscord
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                license:
                  type: string
                discord:
                  type: string
                source:
                  type: string
                  enum: [fivem, discord]
      responses:
        '200':
          description: Успешный ответ.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  _id:
                    type: string
                    description: Discord ID.
                  steam_id:
                    type: string
                  license:
                    type: string
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/get_fivem:
    post:
      tags:
        - Guild
      summary: FiveM информация по Discord ID.
      description: Получает FiveM-информацию по Discord ID.
      operationId: getFivem
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - discord_id
              properties:
                discord_id:
                  type: integer
      responses:
        '200':
          description: Успешный ответ.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  _id:
                    type: string
                    description: Discord ID.
                  steam_id:
                    type: string
                  license:
                    type: string
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/duty_on_actions:
    post:
      tags:
        - Staff
      summary: Действия при начале смены.
      description: Запускает действия при начале смены.
      operationId: dutyOnActions
      security:
        - BearerAuth: []
      parameters:
        - name: ObjectId
          in: query
          required: true
          description: ID документа смены.
          schema:
            type: string
      responses:
        '200':
          description: Действия выполнены.
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/duty_off_actions:
    post:
      tags:
        - Staff
      summary: Действия при окончании смены.
      description: Запускает действия при окончании смены.
      operationId: dutyOffActions
      security:
        - BearerAuth: []
      parameters:
        - name: ObjectId
          in: query
          required: true
          description: ID документа смены.
          schema:
            type: string
      responses:
        '200':
          description: Действия выполнены.
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/duty_break_actions:
    post:
      tags:
        - Staff
      summary: Действия при начале перерыва.
      description: Запускает действия при начале перерыва.
      operationId: dutyBreakActions
      security:
        - BearerAuth: []
      parameters:
        - name: ObjectId
          in: query
          required: true
          description: ID документа смены.
          schema:
            type: string
      responses:
        '200':
          description: Действия выполнены.
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/duty_end_break_actions:
    post:
      tags:
        - Staff
      summary: Действия при окончании перерыва.
      description: Запускает действия при окончании перерыва.
      operationId: dutyEndBreakActions
      security:
        - BearerAuth: []
      parameters:
        - name: ObjectId
          in: query
          required: true
          description: ID документа смены.
          schema:
            type: string
      responses:
        '200':
          description: Действия выполнены.
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/duty_voided_actions:
    post:
      tags:
        - Staff
      summary: Действия при отмене смены.
      description: Запускает действия при отмене смены.
      operationId: dutyVoidedActions
      security:
        - BearerAuth: []
      parameters:
        - name: ObjectId
          in: query
          required: true
          description: ID документа смены.
          schema:
            type: string
      responses:
        '200':
          description: Действия выполнены.
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/duty_on:
    post:
      tags:
        - Staff
      summary: Регистрация начала смены.
      description: Регистрирует начало смены для пользователя.
      operationId: dutyOn
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - steam_id
              properties:
                steam_id:
                  type: string
                shift_type:
                  type: string
                  description: Тип смены.
      responses:
        '200':
          description: Смена начата.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  member:
                    type: integer
                  shift_type:
                    type: string
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/duty_off:
    post:
      tags:
        - Staff
      summary: Регистрация окончания смены.
      description: Регистрирует окончание смены для пользователя.
      operationId: dutyOff
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - steam_id
              properties:
                steam_id:
                  type: string
                guild:
                  type: integer
      responses:
        '200':
          description: Смена окончена.
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/guild/{guild_id}:
    post:
      tags:
        - Guild
      summary: Информация о гильдии.
      description: Возвращает полную информацию о гильдии.
      operationId: getGuild
      security:
        - BearerAuth: []
      parameters:
        - name: guild_id
          in: path
          required: true
          description: ID гильдии.
          schema:
            type: integer
      responses:
        '200':
          description: Успешный ответ.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  member_count:
                    type: integer
                  owner_id:
                    type: integer
                  icon_url:
                    type: string
                  features:
                    type: array
                    items:
                      type: string
                  created_at:
                    type: integer
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/issue_infraction:
    post:
      tags:
        - Infractions
      summary: Выдача нарушения.
      description: Выдаёт нарушение пользователю с поддержкой эскалации.
      operationId: issueInfraction
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
                - guild_id
                - reason
              properties:
                user_id:
                  type: integer
                guild_id:
                  type: integer
                infraction_type:
                  type: string
                  enum: [Warning, Minor, Major, Final]
                reason:
                  type: string
                issuer_id:
                  type: integer
      responses:
        '200':
          description: Нарушение выдано.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  infraction_id:
                    type: string
                  escalated:
                    type: boolean
                  type:
                    type: string
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/revoke_infraction:
    post:
      tags:
        - Infractions
      summary: Отмена нарушения.
      description: Отменяет выданное нарушение.
      operationId: revokeInfraction
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - infraction_id
              properties:
                infraction_id:
                  type: string
                revoked_by:
                  type: integer
      responses:
        '200':
          description: Нарушение отменено.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  infraction_id:
                    type: string
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/get_infraction_wave_preview:
    post:
      tags:
        - Infractions
      summary: Превью волны нарушений.
      description: Возвращает превью волны нарушений для сотрудников, не выполнивших квоту.
      operationId: getInfractionWavePreview
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - guild_id
              properties:
                guild_id:
                  type: integer
                infract_type:
                  type: string
                period:
                  type: integer
                  description: Период в секундах.
                omit_loas:
                  type: boolean
      responses:
        '200':
          description: Успешный ответ.
          content:
            application/json:
              schema:
                type: object
                properties:
                  preview:
                    type: object
                    properties:
                      total_users:
                        type: integer
                      users_below_quota:
                        type: integer
                      users_above_quota:
                        type: integer
                      users_skipped_loa:
                        type: integer
                      period_start:
                        type: integer
                      period_end:
                        type: integer
                  users:
                    type: array
                    items:
                      type: object
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/start_infraction_wave:
    post:
      tags:
        - Infractions
      summary: Запуск волны нарушений.
      description: Запускает волну нарушений для сотрудников, не выполнивших квоту.
      operationId: startInfractionWave
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - guild_id
              properties:
                guild_id:
                  type: integer
                infract_violators:
                  type: boolean
                infract_type:
                  type: string
                issuer_id:
                  type: integer
                period:
                  type: integer
      responses:
        '200':
          description: Волна нарушений запущена.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Infraction wave completed
                  infractions_issued:
                    type: integer
                  preview:
                    type: object
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

  /cluecontrol-m/search_guild_members:
    post:
      tags:
        - Guild
      summary: Поиск участников гильдии.
      description: Ищет участников гильдии по имени или никнейму.
      operationId: searchGuildMembers
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - guild_id
                - query
              properties:
                guild_id:
                  type: integer
                query:
                  type: string
                  description: Поисковый запрос.
                limit:
                  type: integer
                  description: Максимальное количество результатов (макс. 500).
      responses:
        '200':
          description: Успешный ответ.
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      type: object
                      properties:
                        user:
                          type: object
                          properties:
                            id:
                              type: string
                            username:
                              type: string
                            discriminator:
                              type: string
                            global_name:
                              type: string
                            avatar:
                              type: string
                        nick:
                          type: string
                        roles:
                          type: array
                          items:
                            type: integer
                        joined_at:
                          type: string
                        premium_since:
                          type: string
                          nullable: true
                        pending:
                          type: boolean
                        communication_disabled_until:
                          type: string
                          nullable: true
                  total:
                    type: integer
        '400':
          description: Неверный запрос.
        '401':
          description: Неавторизовано.
        '429':
          description: Превышен лимит запросов.
        '500':
          description: Внутренняя ошибка сервера.

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Токен авторизации (статический или пользовательский)."

  schemas:
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
        message:
          type: string
        details:
          type: object

    RateLimitError:
      type: object
      required:
        - code
        - message
        - retry_after
      properties:
        code:
          type: integer
          example: 5016
        message:
          type: string
          example: rate_limit_exceeded
        retry_after:
          type: integer
          description: Секунд до сброса лимита.
        details:
          type: object
          properties:
            limit:
              type: integer
            count:
              type: integer
            excess:
              type: integer
            reset_at:
              type: integer
